<!DOCTYPE html>
<html lang="pl">
{% include 'head_base.html' %}

<body>
  	<div id="preloader"></div>
  	{% include 'header_base.html' %}
    {% block content %}
    <!-- Tu będą treści specyficzne dla poszczególnych stron -->
    {% endblock %}
    
    {% include 'footer_base.html' %}
    {% include 'bottomscripts_base.html' %}
	{% block bottom_scripts %}{% endblock %}
	<script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('newsletter_form').addEventListener('submit', function(e) {
                e.preventDefault(); // Zapobiegaj domyślnej akcji formularza
                const formData = new FormData(this); // Użyj 'this', aby odnieść się do formularza
                const jsonFormData = Object.fromEntries(formData.entries());
    
                fetch('/add-subs-pl', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(jsonFormData) // Przekazuj dane z formularza
                })
                .then(response => response.json())
                .then(data => {
                    // console.log(data);
    
                    const komunikatDiv = document.getElementById("komunikat_z_serwera_newsletter");
                    if (komunikatDiv) {
                        komunikatDiv.innerHTML = data.message;
                        // Ustawienie koloru komunikatu na podstawie wartości 'success'
                        if(data.success) {
                            komunikatDiv.style.color = "green"; // Sukces - zielony
                            document.getElementById('newsletter_form').reset();
                        } else {
                            komunikatDiv.style.color = "red"; // Niepowodzenie - czerwony
                        }
                        setTimeout(function() {
                            komunikatDiv.innerHTML = '';
                        }, 5000);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
