<!DOCTYPE html>
<html lang="pl">
{% include 'head_base.html' %}

<body>
  	<div id="preloader"></div>
  	{% include 'header_base.html' %}
    {% block content %}
    <!-- Tu będą treści specyficzne dla poszczególnych stron -->
    {% endblock %}
    
    {% include 'footer_base.html' %}
    {% block end_of_body %}{% endblock %}
    {% include 'bottomscripts_base.html' %}
	{% block bottom_scripts %}{% endblock %}
	<script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('newsletter_form').addEventListener('submit', function(e) {
                e.preventDefault(); // Zapobiegaj domyślnej akcji formularza
                const formData = new FormData(this); // Użyj 'this', aby odnieść się do formularza
                const jsonFormData = Object.fromEntries(formData.entries());
    
                fetch('/add-subs-pl', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(jsonFormData) // Przekazuj dane z formularza
                })
                .then(response => response.json())
                .then(data => {
                    // console.log(data);
    
                    const komunikatDiv = document.getElementById("komunikat_z_serwera_newsletter");
                    if (komunikatDiv) {
                        komunikatDiv.innerHTML = data.message;
                        // Ustawienie koloru komunikatu na podstawie wartości 'success'
                        if(data.success) {
                            komunikatDiv.style.color = "green"; // Sukces - zielony
                            document.getElementById('newsletter_form').reset();
                        } else {
                            komunikatDiv.style.color = "red"; // Niepowodzenie - czerwony
                        }
                        setTimeout(function() {
                            komunikatDiv.innerHTML = '';
                        }, 5000);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });

        function openWindow(url) {
            var features = "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=900,height=600";
            var newWindow = window.open(url, "DemoWindow", features);
        }

        function openGoogleEarth(lat, lon) {
            var features = "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=900,height=600";
            var newWindow = window.open(`https://earth.google.com/web/@${lat},${lon},102.83373871a,0d,60y,333.15344169h,86.56713379t,0r`, "DemoWindow", features);
        }

        function openGoogleMaps(lat, lon) {
            var features = "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=900,height=600";
            var newWindow = window.open(`https://www.google.com/maps/dir//${lat},${lon}/@${lat},${lon},16z?entry=ttu`, "DemoWindow", features);
        }
    </script>
</body>
</html>
