
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/javascripts/jquery.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/javascripts/plugins.js"></script>
<script src="static/javascripts/validator.min.js"></script>
<script src="static/javascripts/contactform.js"></script>

<!-- Template Main JS File -->
<script src="static/javascripts/main.js"></script>
<script>
	function typeWriterEffect(elementId) {
		const element = document.getElementById(elementId);
		const text = element.innerHTML; // Pobranie tekstu z elementu
		element.innerHTML = ''; // Wyczyszczenie elementu przed rozpoczęciem pisania
		element.style.fontFamily = 'Courier New', 'monospace';
		element.style.whiteSpace = 'pre';
		let i = 0;

		function typeWriter() {
		if (i < text.length) {
			element.innerHTML += text.charAt(i);
			i++;
			setTimeout(typeWriter, 100); // Możesz dostosować szybkość pisania tutaj
		}
		}

		typeWriter();
	}
	// Przykład użycia:
	// Upewnij się, że w divie o id 'typing' znajduje się początkowy tekst:
	// <div id="typing">Tutaj wpisz swój tekst...</div>
	// typeWriterEffect('typing');
</script>
