<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnCode Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <h1>EndCoded Project</h1>
        {% if errorMessage!=None %}
        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        {% endif %}
        
        <div class="form-floating m-3">
            <textarea 
                class="form-control" 
                placeholder="Leave a comment here" 
                id="floatingTextarea"
                style="min-height: 100px;"></textarea>
            <label for="floatingTextarea">Message</label>
        </div>
        <div class="row g-2 m-3">
            <div class="col-md">
                <div class="input-group mb-3">
                    <span class="input-group-text country-code-dw">+48</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid_DW" placeholder="Direct WhatsApp">
                        <label for="floatingInputGrid_DW" class="label-dw">Direct WhatsApp</label>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid_SF">
                        <!-- <option selected>Open this select menu</option> -->
                        <option value="LINK" selected>LINK</option>
                        <option value="TOKEN">TOKEN</option>
                        <option value="INT">INT</option>
                    </select>
                    <label for="floatingSelectGrid_SF">Select Format Message</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-3">
            <div class="col-md">
                <div class="input-group mb-3">
                    <span class="input-group-text country-code-yw">+48</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid_YW" placeholder="Yours WhatsApp">
                        <label for="floatingInputGrid_YW" class="label-yw">Yours WhatsApp</label>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input 
                        type="password" 
                        class="form-control" 
                        id="floatingInputGrid_P" 
                        style="max-width: 250px;" 
                        placeholder="PIN" 
                        maxlength="4" required>
                    <label for="floatingInputGrid_P">PIN</label>
                </div>
            </div>
        </div>
        <div class="row g-2 m-3">
            <div class="col-md">
                <button type="button" id="sendWhatsapp" class="btn btn-success"><i class="bi bi-whatsapp"></i> Send</button>

                <a class="btn btn-secondary" href="/encode?token=advaced" role="button" >
                    Advance Decode
                </a>
            </div>
        </div>

    </div>
    <script>
        document.getElementById('sendWhatsapp').addEventListener('click', function() {
            const message = document.getElementById('floatingTextarea').value;
            const directWhatsapp = document.getElementById('floatingInputGrid_DW').value;
            const selectFormat = document.getElementById('floatingSelectGrid_SF').value;
            const yourWhatsapp = document.getElementById('floatingInputGrid_YW').value;
            const pin = document.getElementById('floatingInputGrid_P').value;

            const requestData = {
                message: message,
                direct_whatsapp: directWhatsapp,
                format: selectFormat,
                own_whatsapp: yourWhatsapp,
                pin: pin
            };

            fetch('/get-whatsapp-data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                const phone = data.phone;
                const message = encodeURIComponent(data.message);
                '<a href="mailto:adres@email.com?subject=Tytuł%20Wiadomości&body=Treść%20wiadomości">Wyślij email</a>';
                const whatsappLink = `https://wa.me/${phone}?text=${message}`;
                
                window.open(whatsappLink, '_blank');
            })
            .catch(error => console.error('Error:', error));
        });

        function updateInputAndSpan(inputSelector, spanSelector, labelSelector, emailPlaceholder, whatsappPlaceholder) {
            document.querySelector(inputSelector).addEventListener('input', function() {
                const input = this.value;
                const span = document.querySelector(spanSelector);
                const label = document.querySelector(labelSelector);

                if (input.includes('@')) {
                span.textContent = '@';
                this.placeholder = emailPlaceholder;
                label.textContent = emailPlaceholder;
                } else {
                span.textContent = '+48';
                this.placeholder = whatsappPlaceholder;
                label.textContent = whatsappPlaceholder;
                }
            });
            }

            updateInputAndSpan('#floatingInputGrid_DW', '.country-code-dw', '.label-dw', 'Direct Email', 'Direct WhatsApp');
            updateInputAndSpan('#floatingInputGrid_YW', '.country-code-yw', '.label-yw', 'Yours Email', 'Yours WhatsApp');

            document.querySelectorAll('.form-control').forEach(input => {
            input.addEventListener('input', function() {
                const sendButton = document.getElementById('sendButton');
                if (this.value.includes('@')) {
                sendButton.innerHTML = '<i class="bi bi-envelope-at-fill"></i> Send';
                } else {
                sendButton.innerHTML = '<i class="bi bi-whatsapp"></i> Send';
                }
            });
            });
        
    </script>
</body>
</html>

<!-- @app.route('/get_whatsapp_data', methods=['POST'])
def get_whatsapp_data():
    data = request.json
    phone = data.get("direct_whatsapp", "1234567890")
    message = data.get("message", "Twoja wiadomość")

    # Przetwarzanie danych (np. formatowanie wiadomości)
    response_data = {
        "phone": phone,
        "message": message
    }
    return jsonify(response_data) -->

<!-- @app.route('/verify_pin', methods=['POST'])
def verify_pin():
    data = request.get_json()
    pin = data.get('pin')
    
    if pin == '1234':  # Zmień to na logikę weryfikacji twojego PINu
        return jsonify({'valid': True})
    else:
        return jsonify({'valid': False}) -->