
  <footer id="footer" class="footer-section">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" class="logo d-flex align-items-center">
                                <img src="static/images/logotypy_dmd_Inwestycje_dark_ls_out.png" alt="">
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>
                              Pozostańmy w kontakcie i razem twórzmy przyszłość z DMD Inwestycje. 
                              Nasz zespół ekspertów jest gotowy wspierać Twoje inwestycyjne cele, 
                              oferując dostęp do wyjątkowych nieruchomości i spersonalizowane 
                              doradztwo. Odkryj, jak możemy przekształcić Twoje wizje w realne 
                              sukcesy. Dołącz do nas już dziś.
                            </p>
                        </div>
                        <div class="contact-info">
                          <h6>Adres:</h6>
                          <p>ul. Dworkowa 51 </p>
                          <p>05-082 Stare Babice</p>
                          <!-- Change  'Wall%20Street,%20NYC' with your own business name -->
                          <p><a href="https://www.google.com/maps/dir//Dworkowa+51,+Stare+Babice" target="_blank"><i class="fa fa-map-marker"></i> Zobacz Mapę</a></p>
                        </div>
                        <div class="contact-info">
                          <h6>Telefon:</h6>
                          <p><a href="tel:+48600202480">+48 600 202 480</a></p>
                          <!-- <p>+1 1234 56 780</p> -->
                        </div>
                        <div class="contact-info">
                            <h6>E-mail:</h6>
                            <p><a href="mailto:biuro@dmdinwestycje.pl">biuro@dmdinwestycje.pl</a></p>
                          <!-- <p>email@example.com</p> -->
                        </div>
                        <div class="footer-social-icon">
                            <span></span>
                            <a href="https://www.facebook.com/dmddomy/" style="font-size: x-large;"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw" style="font-size: x-large;"><i class="fa fa-youtube youtube-bg"></i></a>
                            <a href="https://www.instagram.com/dmddomy/" style="font-size: x-large;"><i class="fa fa-instagram instagram-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="/oferta-inwestycyjna">Oferta Inwestycyjna</a></li>
                            <li><a href="/oferta-sprzedazy">Oferta Kupna/Sprzedaży</a></li>
                            <li><a href="/my-jestesmy">Kim Jesteśmy?</a></li>
                            <li><a href="/my-zespol">Zespół</a></li>
                            <li><a href="/inwestycje-wspolne">Inwestycja Wspólna</a></li>
                            <li><a href="/inwestycje-odkup">Zakup Za Gotówkę</a></li>
                            <li><a href="/blogs">Blog</a></li>
                            <li><a href="/kontakt">Kontakt</a></li>
                            <li><a href="#faq">FAQ's</a></li>
                            <li><a href="/oferta-specjalna">Limitowana Oferta</a></li>
                            <li><a href="/polityka-prv">Polityka prywatności</a></li>
                            <li><a href="/rulez">Zasady witryny</a></li>
                            <li><a href="/help">Pomoc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>
                              Subskrybuj nasz newsletter, by nie przegapić
                               najnowszych wiadomości i otrzymywać specjalne 
                               oferty prosto na swój email. Bądź zawsze o krok 
                               przed innymi z DMD Inwestycje. Dołącz do nas 
                               i rozpocznij swoją podróż po świecie 
                               nieruchomości już dziś.
                            </p>
                        </div>
                        <form id="newsletter_form" >
                            <div class="subscribe-form">
                                <input type="text" placeholder="Podaj swoje Imię" id="newsletterEmailField" name="Imie" required>
                            </div>
                            <div class="subscribe-form">
                                <input type="email" placeholder="Podaj swój E-mail" id="newsletterEmailField" name="Email" required>
                                <button type="submit" id="send_newsletter"><i class="fa fa-telegram"></i></button>
                            </div>
                            <div class="margin-top-standard" id="komunikat_z_serwera_newsletter"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>DMD INWESTYCJE © 2024</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                    <div class="footer-menu text-right">
                        <ul>
                            <li><a href="/polityka-prv">Polityka prywatności</a></li>
                            <li><a href="/rulez">Zasady korzystania z witryny</a></li>
                            <li><a href="/help">Pomoc</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->
