<header id="header" class="header d-flex align-items-center">
    <div class="container container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-center">
        <img src="static/images/logotypy_dmd_Inwestycje_dark_ls_out.png" alt="">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a href="services.html">Oferta</a></li> -->
          <li class="dropdown"><a href="#"><span>Oferta</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/oferta-inwestycyjna">Inwestycyjna</a></li>
              <li><a href="/oferta-najmu">Najmu</a></li>
              <li><a href="/oferta-sprzedazy">Sprzedaży</a></li>
              {% if spcOfferON %} 
              <li class="blue-bg">
                <a href="/oferta-specjalna">Specjalna</a>
              </li>
              {% endif %}
            </ul>
          </li>
          <!-- <li><a href="about.html">O Nas</a></li> -->
          <li class="dropdown"><a href="#"><span>O Nas</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/my-jestesmy">Kim jesteśmy?</a></li>
              <li><a href="/my-zespol">Zespół</a></li>
              <!-- <li><a href="/my-partnerzy">Partnerzy</a></li> -->
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Inwestycje</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/inwestycje-odkup">Odkup Ziemi</a></li>
              <li><a href="/inwestycje-wspolne">Inwestycje Wspólne</a></li>
              <li><a href="/inwestycje-pomoc">Pomoc Prawna</a></li>
              <li><a href="/inwestycje-projekt">Projekt Inwestycji</a></li>
              <li><a href="/inwestycje-budowa">Kompleksowa Budowa</a></li>
              <li><a href="/inwestycje-maksymalizacja">Maksymalizacja Wartości</a></li>
            </ul>
          </li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/kontakt">Kontakt </a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
