
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>DMD INWESTYCJE - {{ pageTitle }}</title>
    <meta name="description" content="DMD Inwestycje - Tworzymy wartość poprzez zrównoważony rozwój i etyczne inwestycje. Nasze projekty skupiają się na innowacyjności i rozwoju, zapewniając solidny zwrot finansowy przy jednoczesnym korzystnym wpływie na społeczność i środowisko.">
    <meta name="keywords" content="DMD Inwestycje, zrównoważony rozwój, etyczne inwestowanie, długoterminowa wartość, innowacyjność, rozwój, solidny zwrot finansowy, odpowiedzialne inwestowanie, rozwój kapitału, wpływ społeczny">
    <meta content="Tworzymy wartość poprzez odpowiedzialne inwestycje" name="ZRTHEMES">

    <!-- Favicons -->
    <link href="static/images/favicon.png" rel="icon">
    <link href="static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="static/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link href="static/stylesheets/styles.css" rel="stylesheet">
    <link href="static/stylesheets/pages.css" rel="stylesheet">


</head>
