{% extends 'base.html' %}

{% block content %}

  <!-- Hero Section -->
  <section id="hero" class="hero d-flex">
    <div class="image-main-wrapper">
      <img class="hero-main-image" src="static/images/header_main_6.png" alt="image"> <!--animacja to kalsa:  hero-main-image -->
    </div>
    <div class="image-overlay"></div>
    <div class="container position-relative d-flex align-items-center justify-content-center">
      <div class="row gy-5 d-flex align-items-center justify-content-center">
        <div class="col-lg-8 col-md-12 order-lg-1 d-flex flex-column align-items-center justify-content-center text-center caption">
          <h2 data-aos="fade-up" data-aos-delay="100">Zainwestuj już dziś!<br />
            <span class="circle"><img src="static/images/logotypy_dmd_Inwestycje_dark_ls_out.png" alt=""></span></h2>
            <h3 data-aos="fade-up" data-aos-delay="200">Odkryj potencjał swojej ziemi.</h3>
            <p data-aos="fade-up" data-aos-delay="300">
                Masz działkę idealną pod segment mieszkalny, budynek komercyjny lub halę, 
                ale brakuje Ci środków na realizację to doskonale trafiłeś. DMD Inwestycje 
                to Twój partner w przekształcaniu potencjału w realny zysk. Oferujemy zakup 
                ziemi gotówką oraz możliwość wspólnych inwestycji. <br />
                Zacznij swoją inwestycyjną podróż już dziś i przekonaj się, jak możemy wspólnie tworzyć wartość.
            </p>
          <div class="d-flex">
            <a href="#team" class="btn-get-started" data-aos="fade-up" data-aos-delay="400">Umów spotkanie</a>
            <a 
              href="https://youtu.be/BrFETkf8wDw?si=BuGHEUsG-daBNswE" 
              class="glightbox btn-watch-video d-flex align-items-center" 
              data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-play-circle"></i><span>Obejrzyj film</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->  


  <!-- About Us Section -->
  <section id="whyus" class="about">
    <div class="overlay-right" data-aos-delay="300"></div>
    <div class="container">
      <div class="section-header">
        <div>
            <h2 class="white-text">Tworzymy Wartość | Zrównoważony Rozwój i Inwestycje</h2>
            <p>
                DMD Inwestycje to więcej niż firma - to nasza misja odpowiedzi na globalne wyzwania 
                zrównoważonego rozwoju i etycznego inwestowania. W każdym naszym działaniu kładziemy 
                nacisk na tworzenie długoterminowej wartości nie tylko dla naszych Klientów 
                ale również dla społeczności, które nas otaczają. Nasze projekty są dokładnie analizowane 
                pod kątem ich potencjalnego wpływu społecznego i środowiskowego, aby zapewnić, 
                że przynoszą one korzyści na wielu poziomach.
            </p>
        </div>
        <a href="#counter" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="content ps-0" data-aos="fade-right" data-aos-delay="500">
            <p>
                Patrzymy w przyszłość z optymizmem i determinacją do wprowadzania pozytywnych. 
                Nasza strategia inwestycyjna opiera się na starannym wyborze projektów, które 
                nie tylko obiecują solidny zwrot finansowy, ale także oferują wartość dodaną 
                dla lokalnych społeczności i środowiska. 
            </p>
            <p>
                Stawiamy na innowacyjność i rozwój, aby nasze inwestycje przyczyniały się do budowania lepszego jutra.
            </p>
              <ul>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Misja Zrównoważonego Rozwoju</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Odpowiedzialne Inwestowanie</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Długoterminowa Wartość</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Innowacyjność i Rozwój</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Solidny Zwrot Finansowy</li>
              </ul>
            <div class="icon-box">
              <div class="icon"><img src="static/images/icons/property.svg" alt=""></div>
              <div class="title">
                <h4><a href="/kontakt" class="green-text">Rozwiń Swój Kapitał</a></h4>
                <p>z DMD Inwestycje</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 position-relative ps-lg-5" data-aos="fade-left"> <!--  -->
          <img src="static/images/features.png" class="img-fluid mb-4" alt=""> <!--  -->
          <div class="img-overlay-right" data-aos="fade-up" data-aos-delay="500"><h3><span>20</span>Lat Doświadczenia </h3></div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <!-- Services Section -->
  <section id="services" class="services">
    <div class="top-icon-box position-relative">
      <div class="container position-relative">
        <div class="section-header">
          <div>
            <h2 class="white-text">Oferta inwestycyjna | Co proponujemy?</h2>
            <p>
                Zapraszamy do zapoznania się z kluczowymi elementami naszej oferty, 
                która została stworzona, by wspierać Twoje inwestycje na każdym etapie:
            </p>
          </div>
          <a href="/inwestycje-odkup" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
        </div>
        <div class="row gy-4">

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="static/images/icons/mortgage.svg" alt=""></div>
              <div class="service-number">1</div>
              <h4 class="title"><a href="/inwestycje-odkup" class="green-text">Odkup ziemi</a></h4>
              <p>
                "Proponujemy atrakcyjne warunki odkupu gruntów, otwierając drogę do nowych możliwości inwestycyjnych."
            </p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
                <div class="icon"><img src="static/images/icons/rent.svg" alt=""></div>
                <div class="service-number">2</div>
                <h4 class="title"><a href="/inwestycje-wspolne" class="green-text">Inwestycję wspólną</a></h4>
                <p>
                    "Dajemy szansę na współudział w rentownych projektach, minimalizując ryzyko i maksymalizując potencjalny zysk."
                </p>
            </div>
          </div>
          <!--End Icon Box -->


          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
                <div class="icon"><img src="static/images/icons/house.svg" alt=""></div>
                <div class="service-number">3</div>
                <h4 class="title"><a href="/inwestycje-pomoc" class="green-text">Pomoc prawną przy formalnościach </a></h4>
                <p>
                    "Zapewniamy wsparcie prawne, aby proces inwestycyjny przebiegał płynnie i bez niepotrzebnych przeszkód."
                </p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
                <div class="icon"><img src="static/images/icons/repair.svg" alt=""></div>
                <div class="service-number">4</div>
                <h4 class="title"><a href="/inwestycje-projekt" class="green-text">Projekt inwestycji </a></h4>
                <p>
                    "Oferujemy dostęp do innowacyjnych projektów inwestycyjnych, dopasowanych do indywidualnych potrzeb i oczekiwań."
                </p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
                <div class="icon"><img src="static/images/icons/inspection.svg" alt=""></div>
                <div class="service-number">5</div>
                <h4 class="title"><a href="/inwestycje-budowa" class="green-text">Kompleksową budowę</a></h4>
                <p>
                    "Realizujemy projekty budowlane od fundamentów po dach, gwarantując najwyższą jakość i terminowość."
                </p>
            </div>
          </div>
          <!--End Icon Box -->


          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
                <div class="icon"><img src="static/images/icons/agent.svg" alt=""></div>
                <div class="service-number">6</div>
                <h4 class="title"><a href="/inwestycje-maksymalizacja" class="green-text">Maksymalizacja wartości</a></h4>
                <p>
                    "Aktywnie wspieramy w znalezieniu nabywców, maksymalizując wartość Twojej inwestycji."
                </p>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- Counter Section Start -->
    <section id="counter" class="counter-area section-padding fadeInLeft wow" data-wow-delay="1s">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="counter-container" data-aos="fade-left" data-aos-delay="300">
                    <div class="icon"><img src="static/images/report.png" alt=""></div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="counter-container" data-aos="fade-right" data-aos-delay="1">
                    <div class="counter" data-target="6000000"></div>
                    <h2>Zainwestowane Środki w Projekty DMD Inwestycje</h2>
                    <ul>
                      <li><i class="fa fa-building"></i> Bogata Baza Nieruchomości</li>
                      <li><i class="fa fa-search"></i> Znajdź Swoją Idealną Nieruchomość</li>
                      <li><i class="fa fa-camera-retro"></i> Profesjonalne Zdjęcia i Wirtualne Wizyty</li>
                      <li><i class="fa fa-user-secret"></i> Eksperckie Doradztwo</li>
                      <li><i class="fa fa-users"></i> Podejście Skoncentrowane na Kliencie</li>
                      <li><i class="fa fa-comments"></i> Transparentna Komunikacja</li>
                      <li><i class="fa fa-life-ring"></i> Wsparcie 24/7</li>
                      <li><i class="fa fa-line-chart"></i> Wycena i Analiza Rynku</li>
                    </ul>                    
                  </div>
                </div>
            </div>
        </div>
    </section>
  <!-- End Counter Section Start -->

  <!--Portfolio Section -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <div>
          <h2 class="white-text">Oferta najmu lub sprzedaży | Sprawdź naszą gorącą ofertę</h2>
          <p>
            Zajrzyj do naszej sekcji "Oferta najmu lub sprzedaży" i przekonaj się, co sprawia, że nasi klienci wracają do 
            nas jak bumerang! Znajdziesz tu gorące propozycje, które rozpalą Twoją ciekawość i zaspokoją 
            nawet najbardziej wymagające gusta. Niezależnie od tego, czy szukasz najnowszych trendów, 
            unikalnych usług czy po prostu chcesz odkryć coś nowego, nasza oferta została skomponowana 
            z myślą o Tobie. Nie czekaj, sprawdź, co dla Ciebie przygotowaliśmy!
          </p>
        </div>
        <!-- <a href="#testimonials" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a> -->
      </div>
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
        <div>
          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">Wszystkie</li>
            <li data-filter=".Project-canada">Domy</li>
            <li data-filter=".Project-dubai">Lokale usługowe</li>
            <li data-filter=".Project-australia">Biura</li>
            <li data-filter=".Project-germany">Hale</li>
            <li data-filter=".Project-germany">Magazyny</li>
          </ul><!-- End Portfolio Filters -->
        </div>
        <div class="row gy-4 portfolio-container">
          <div class="col-xl-4 col-md-6 portfolio-item Project-canada">
            <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="100">
              <a href="static/images/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                <div class="project-deatils-aside">
                  <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
              </div>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item Project-dubai">
            <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="500">
              <a href="static/images/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                <div class="project-deatils-aside">
                    <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                </div>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item Project-australia">
            <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="900">
              <a href="static/images/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                <div class="project-deatils-aside">
                  <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                </div>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item Project-germany">
            <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="100">
              <a href="static/images/portfolio/product-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-4.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                <div class="project-deatils-aside">
                  <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                </div>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item Project-canada">
            <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="500">
              <a href="static/images/portfolio/product-5.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-5.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                <div class="project-deatils-aside">
                  <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                </div>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item Project-germany">
            <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="900">
              <a href="static/images/portfolio/product-6.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-6.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                <div class="project-deatils-aside">
                  <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                </div>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        </div><!-- End Portfolio Container -->
      </div>
    </div>
  </section><!-- End Portfolio Section -->

    <!-- Our Team Section -->
    <section id="team" class="team section bg-grey">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2 class="white-text">Zespół | Poznaj Nasz Zespół</h2>
            <p>
                Umów spotkanie z jednym z naszych doświadczonych doradców, aby 
                odkryć potencjał swojej nieruchomości lub poznać atrakcyjne 
                oferty nieruchomości na wynajem i sprzedaż. 
            </p>
            <p>
                Nasz zespół czeka, aby podzielić się z Tobą swoją wiedzą i doświadczeniem, 
                oferując profesjonalne doradztwo dopasowane do Twoich potrzeb.
            </p>
          </div>
          <a href="/my-zespol" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
        </div>

        <div class="row gy-4">
          {% for member in fourListTeam %}
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{{ member['EMPLOYEE_PHOTO'] }}" class="img-fluid" alt="">
              <div class="social">
                {% if member['PHONE'] != '' %}
                <a href="tel:{{ member['PHONE'] }}" target="_blank" rel="noreferrer"><i class="bi bi-phone"></i></a>
                {% endif %}
                {% if member['EMAIL'] != '' %}
                <a href="mailto:{{ member['EMAIL'] }}" target="_blank" rel="noreferrer"><i class="bi bi-envelope"></i></a>
                {% endif %}
                {% if member['FACEBOOK'] != '' %}
                <a href="{{ member['FACEBOOK'] }}" target="_blank" rel="noreferrer"><i class="bi bi-facebook"></i></a>
                {% endif %}
                {% if member['LINKEDIN'] != '' %}
                <a href="{{ member['LINKEDIN'] }}" target="_blank" rel="noreferrer"><i class="bi bi-linkedin"></i></a>
                {% endif %}
              </div>
              <h4>{{ member['EMPLOYEE_NAME'] }}</h4>
              <span>{{ member['EMPLOYEE_ROLE'] }}</span>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}
          
        </div>
      </div>
    </section><!-- End Our Team Section -->


    <!-- Frequently Asked Questions Section -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2 class="white-text">FAQ's | Najczęściej zadawane pytania</h2>
            <p>
                Znajdź odpowiedzi na najczęściej zadawane pytania dotyczące współpracy z DMD Inwestycje i naszych usług w poniższym FAQ.
            </p>
          </div>
          <a href="#call-to-action" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
        </div>
        <div class="row gy-4">
          <div class="col-lg-12">
            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1">
                    <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                    Czym zajmuje się DMD Inwestycje?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                        DMD Inwestycje specjalizuje się w inwestycjach nieruchomościowych, 
                        oferując odkup ziemi, możliwość inwestycji wspólnej, pomoc prawną 
                        przy formalnościach, projektowanie inwestycji, kompleksową budowę 
                        oraz wsparcie w sprzedaży nieruchomości klientom docelowym.
                    </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                    Jak mogę rozpocząć współpracę z DMD Inwestycje?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Aby rozpocząć współpracę, zachęcamy do umówienia się na spotkanie z naszym doradcą. 
                    Dzięki temu będziemy mogli dokładnie poznać Twoje potrzeby i przedstawić ofertę 
                    dopasowaną do Twoich oczekiwań.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3">
                    <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                    Czy DMD Inwestycje oferuje pomoc w sprzedaży wybudowanych nieruchomości?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Tak, oferujemy kompleksową pomoc w sprzedaży wybudowanych nieruchomości, 
                    w tym marketing nieruchomości oraz wsparcie w znalezieniu odpowiednich 
                    klientów docelowych, aby maksymalizować wartość Twojej inwestycji.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-4">
                    <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                    Czy mogę zainwestować w projekt, nie mając własnej działki?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Oczywiście, DMD Inwestycje oferuje możliwość inwestycji wspólnej w wyselekcjonowane 
                    projekty nieruchomościowe. To doskonała okazja do inwestowania w nieruchomości nawet 
                    bez posiadania własnej ziemi, przy minimalnym ryzyku i potencjale na atrakcyjne zyski.
                  </div>
                </div>
              </div><!-- # Faq item-->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action sections-bg">
      <div class="container text-center" data-aos="zoom-out">
        <div class="section-header-book">
            
          <div class="row">
            <div class="col-lg-12 text-center">
                <div class="special-offer-homepage">
                  <div id="SpecialOfferArea" >
                    <img src="https://ireland.apollo.olxcdn.com/v1/files/hxhmqlrcuhoh1-PL/image;s=1000x700" alt="" class="object-fit-cover border rounded" />
                    <div class="offer" id="specTytul">
                      <span>SEGMENT 215m2 IZABELIN k. Warszawa 215m2 Warszawa IZA BERLIN k. Warszawa SEGMENT 215m2</span>
                    </div>
                    <div class="offer" id="specLoka">
                      <div class="row">
                        <div class="col-lg-1 col-sm-6 mt-5">
                          Lokalizacja
                        </div>
                        <div class="col-lg-1 col-sm-6 mt-5">
                          Sprzedaż
                        </div>
                      </div>
                    </div>
                    <div class="offer" id="specCena"> 
                      <span>450 000.00 PLN</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
            <div class="row">
              <h2>Limitowana Oferta</h2>
              <p>Prezentujemy</p>
              <h3>Wiśniowa House na Mościckiej</h3>
              <div class="col-lg-4">
                <img src="static/images/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-lg-8 text-left">

                  Ekskluzywne segmenty z ogrodem, oferujące 
                  120 m² luksusu i prywatności. Znajdując się 10 minut od centrum Warszawy 
                  i 5 minut od metra, łączymy wygodę z spokojem. Ograniczona liczba lokali 
                  gwarantuje unikalność oferty. Nie przegap okazji na wyjątkowe mieszkanie.
                  <br/><br/>
                  <h5>Cechy oferty:</h5>
                <ul>
                  <li>
                    <strong>Ekskluzywne segmenty z ogrodem:</strong>
                    Każdy segment został zaprojektowany z dbałością o detale, 
                    oferując przestronne wnętrza i prywatny ogród, gdzie możesz 
                    cieszyć się spokojem i naturą w centrum miasta.
                  </li>
                  <li>
                    <strong>Doskonała lokalizacja:</strong>
                    Zaledwie 10 minut do centrum Warszawy i 5 minut do najbliższej stacji metra, 
                    Wiśniowa House łączy w sobie wygodę życia miejskiego z urokliwą atmosferą 
                    spokojnej okolicy.
                    <br/><br/>
                  </li>
                  <li>
                    <strong>Ograniczona liczba segmentów:</strong>
                    Nasza oferta jest limitowana – dysponujemy tylko kilkoma segmentami w tej wyjątkowej 
                    lokalizacji, co sprawia, że Wiśniowa House to niepowtarzalna szansa na znalezienie 
                    wymarzonego domu.
                    <br/><br/>
                  </li>
                </ul>
                  Nie przegap okazji, by zamieszkać w miejscu stworzonym z myślą o Twoich potrzebach. 
                  Skontaktuj się z nami już dziś, aby dowiedzieć się więcej i zaplanować oglądanie. 
                  Wiśniowa House czeka, by stać się Twoim nowym domem.
                  <br/><br/>
              </div>
            </div>
            
            
        </div>
        <div class="text-right">
          <a class="cta-btn" href="#contact">Sprawdź to!</a>
        </div>
        
      </div>
    </section><!-- End Call To Action Section -->

    <!-- Recent Blog Posts Section -->
    <section id="recent-posts" class="recent-posts">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2 class="white-text">Blogs | Bądź na bieżąco</h2>
            <p>
                Komentuj wpisy na blogu DMD, aby nie przegapić 
                najnowszych newsów ze świata inwestycji, budownictwa 
                i rozwoju nieruchomości!
            </p>
          </div>
          <a href="/blogs" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
        </div>
        <div class="row gy-4">
          {% for post in blog_post_three %}
          <div class="col-lg-4">
            <article>
              <div class="post-img">
                <a href="/blog-one?post={{post['id']}}"><img src="{{ post['mainFoto'] }}" alt="" class="img-fluid"></a>
              </div>
              <p class="post-category">{{ post['category'] }}</p>
              <h2 class="title">
                <a href="/blog-one?post={{post['id']}}">{{ post['title'] }}</a>
              </h2>
              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ post['data'] }}</time>
                  </p>
                </div>
              </div>
            </article>
          </div><!-- End post list item -->
          {% endfor %}
          

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->
{% endblock %}
