{% extends 'base.html' %}

{% block head_scripts %}
<script>
    var readyCallbacks = [];
    function addReadyCallback(fn) {
        readyCallbacks.push(fn);
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        readyCallbacks.forEach(function(fn) { fn(); });
    });
</script>
{% endblock %}

{% block content %}

	<!-- Hero Section -->
	<section id="hero" class="hero d-flex">
		<div class="image-main-wrapper">
			<img class="hero-main-image desktop-image" src="static/images/header_main_6.png" alt="image"> <!--animacja to kalsa:  hero-main-image -->
			<img class="hero-main-image mobile-image" src="static/images/header_main_6_mobile.png" alt="image">
		</div>
		<div class="image-overlay"></div>
		<div class="container position-relative d-flex align-items-center justify-content-center">
		<div class="row gy-5 d-flex align-items-center justify-content-center">
			<div class="col-lg-8 col-md-12 order-lg-1 d-flex flex-column align-items-center justify-content-center text-center caption">
				<h2 data-aos="fade-up" data-aos-delay="100">Zainwestuj już dziś!<br />
					<span class="circle"><img src="static/images/logotypy_dmd_Inwestycje_dark_ls_out.png" alt=""></span>
				</h2>
				<div class="row mb-4 mt-4">
					<div class="col">
						<div class="d-flex">
							<a 
							href="#portfolio" 
							class="btn-get-started-green" 
							
							data-aos-delay="400">
							<i class="bi bi-search"></i><span style="margin-left: 5px;">Oferty</span></a>
							<a 
							href="tel:+48600202480" 
							class="btn-watch-video d-flex align-items-center" 
							
							data-aos-delay="500">
							<i class="bi bi-telephone"></i><span>Zadzwoń</span></a>
						</div>
					</div>
				</div>
				<h3 data-aos="fade-up" data-aos-delay="200">Odkryj potencjał swojej ziemi.</h3>
				<p data-aos="fade-up" data-aos-delay="300">
					Masz działkę idealną pod segment mieszkalny, budynek komercyjny lub halę, 
					ale brakuje Ci środków na realizację to doskonale trafiłeś. DMD Inwestycje 
					to Twój partner w przekształcaniu potencjału w realny zysk. Oferujemy zakup 
					ziemi gotówką oraz możliwość wspólnych inwestycji. <br />
					Zacznij swoją inwestycyjną podróż już dziś i przekonaj się, jak możemy wspólnie tworzyć wartość.
				</p>


				<div class="row">
					<div class="col">
						<div class="d-flex">
							<a href="#team" class="btn-get-started" data-aos="fade-up" data-aos-delay="400">Umów spotkanie</a>
							<a 
							href="https://youtu.be/BrFETkf8wDw?si=BuGHEUsG-daBNswE" 
							class="glightbox btn-watch-video d-flex align-items-center" 
							data-aos="fade-up" data-aos-delay="500">
							<i class="bi bi-play-circle"></i><span>Obejrzyj film</span></a>
						</div>
					</div>
				</div>
				

			</div>
		</div>
		</div>
	</section>
	<!-- End Hero Section -->  


	<!-- About Us Section -->
	<section id="whyus" class="about">
		<div class="overlay-right" data-aos-delay="300"></div>
		<div class="container">
		<div class="section-header">
			<div>
				<h2 class="white-text">Tworzymy Wartość | Zrównoważony Rozwój i Inwestycje</h2>
				<p>
					DMD Inwestycje to więcej niż firma - to nasza misja odpowiedzi na globalne wyzwania 
					zrównoważonego rozwoju i etycznego inwestowania. W każdym naszym działaniu kładziemy 
					nacisk na tworzenie długoterminowej wartości nie tylko dla naszych Klientów 
					ale również dla społeczności, które nas otaczają. Nasze projekty są dokładnie analizowane 
					pod kątem ich potencjalnego wpływu społecznego i środowiskowego, aby zapewnić, 
					że przynoszą one korzyści na wielu poziomach.
				</p>
			</div>
			<a href="#counter" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
		</div>

		<div class="row gy-4">
			<div class="col-lg-6">
			<div class="content ps-0" data-aos="fade-right" data-aos-delay="500">
				<p>
					Patrzymy w przyszłość z optymizmem i determinacją do wprowadzania pozytywnych. 
					Nasza strategia inwestycyjna opiera się na starannym wyborze projektów, które 
					nie tylko obiecują solidny zwrot finansowy, ale także oferują wartość dodaną 
					dla lokalnych społeczności i środowiska. 
				</p>
				<p>
					Stawiamy na innowacyjność i rozwój, aby nasze inwestycje przyczyniały się do budowania lepszego jutra.
				</p>
				<ul>
					<li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Misja Zrównoważonego Rozwoju</li>
					<li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Odpowiedzialne Inwestowanie</li>
					<li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Długoterminowa Wartość</li>
					<li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Innowacyjność i Rozwój</li>
					<li><i class="bi bi-arrow-right-circle-fill orange-text"></i> Solidny Zwrot Finansowy</li>
				</ul>
				<div class="icon-box">
				<div class="icon"><img src="static/images/icons/property.svg" alt=""></div>
				<div class="title">
					<h4><a href="/kontakt" class="green-text">Rozwiń Swój Kapitał</a></h4>
					<p>z DMD Inwestycje</p>
				</div>
				</div>
			</div>
			</div>
			<div class="col-lg-6 position-relative ps-lg-5" data-aos="fade-left"> <!--  -->
			<img src="static/images/features.png" class="img-fluid mb-4" alt=""> <!--  -->
			<div class="img-overlay-right" data-aos="fade-up" data-aos-delay="500"><h3><span>20</span>Lat Doświadczenia </h3></div>
			</div>
		</div>

		</div>
	</section><!-- End About Us Section -->


	<!-- Services Section -->
	<section id="services" class="services">
		<div class="top-icon-box position-relative">
		<div class="container position-relative">
			<div class="section-header">
			<div>
				<h2 class="white-text">Oferta inwestycyjna | Co proponujemy?</h2>
				<p>
					Zapraszamy do zapoznania się z kluczowymi elementami naszej oferty, 
					która została stworzona, by wspierać Twoje inwestycje na każdym etapie:
				</p>
			</div>
			<a href="/inwestycje-odkup" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
			</div>
			<div class="row gy-4">

			<div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
				<div class="icon-box">
				<div class="icon"><img src="static/images/icons/mortgage.svg" alt=""></div>
				<div class="service-number">1</div>
				<h4 class="title"><a href="/inwestycje-odkup" class="green-text">Odkup ziemi</a></h4>
				<p>
					"Proponujemy atrakcyjne warunki odkupu gruntów, otwierając drogę do nowych możliwości inwestycyjnych."
				</p>
				</div>
			</div>
			<!--End Icon Box -->

			<div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="300">
				<div class="icon-box">
					<div class="icon"><img src="static/images/icons/rent.svg" alt=""></div>
					<div class="service-number">2</div>
					<h4 class="title"><a href="/inwestycje-wspolne" class="green-text">Inwestycję wspólną</a></h4>
					<p>
						"Dajemy szansę na współudział w rentownych projektach, minimalizując ryzyko i maksymalizując potencjalny zysk."
					</p>
				</div>
			</div>
			<!--End Icon Box -->


			<div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
				<div class="icon-box">
					<div class="icon"><img src="static/images/icons/house.svg" alt=""></div>
					<div class="service-number">3</div>
					<h4 class="title"><a href="/inwestycje-pomoc" class="green-text">Pomoc prawną przy formalnościach </a></h4>
					<p>
						"Zapewniamy wsparcie prawne, aby proces inwestycyjny przebiegał płynnie i bez niepotrzebnych przeszkód."
					</p>
				</div>
			</div>
			<!--End Icon Box -->

			<div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
				<div class="icon-box">
					<div class="icon"><img src="static/images/icons/repair.svg" alt=""></div>
					<div class="service-number">4</div>
					<h4 class="title"><a href="/inwestycje-projekt" class="green-text">Projekt inwestycji </a></h4>
					<p>
						"Oferujemy dostęp do innowacyjnych projektów inwestycyjnych, dopasowanych do indywidualnych potrzeb i oczekiwań."
					</p>
				</div>
			</div>
			<!--End Icon Box -->

			<div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
				<div class="icon-box">
					<div class="icon"><img src="static/images/icons/inspection.svg" alt=""></div>
					<div class="service-number">5</div>
					<h4 class="title"><a href="/inwestycje-budowa" class="green-text">Kompleksową budowę</a></h4>
					<p>
						"Realizujemy projekty budowlane od fundamentów po dach, gwarantując najwyższą jakość i terminowość."
					</p>
				</div>
			</div>
			<!--End Icon Box -->


			<div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
				<div class="icon-box">
					<div class="icon"><img src="static/images/icons/agent.svg" alt=""></div>
					<div class="service-number">6</div>
					<h4 class="title"><a href="/inwestycje-maksymalizacja" class="green-text">Maksymalizacja wartości</a></h4>
					<p>
						"Aktywnie wspieramy w znalezieniu nabywców, maksymalizując wartość Twojej inwestycji."
					</p>
				</div>
			</div>
			<!--End Icon Box -->

			</div>
		</div>
		</div>
	</section>
	<!-- End Services Section -->

	<!-- Counter Section Start -->
		<section id="counter" class="counter-area section-padding fadeInLeft wow" data-wow-delay="1s">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
					<div class="counter-container" data-aos="fade-left" data-aos-delay="300">
						<div class="icon"><img src="static/images/report.png" alt=""></div>
					</div>
					</div>
					<div class="col-lg-6 col-md-12">
					<div class="counter-container" data-aos="fade-right" data-aos-delay="1">
						<div class="counter" data-target="6000000"></div>
						<h2>Zainwestowane Środki w Projekty DMD Inwestycje</h2>
						<ul>
							<li><i class="fa fa-building"></i> Bogata Baza Nieruchomości</li>
							<li><i class="fa fa-search"></i> Znajdź Swoją Idealną Nieruchomość</li>
							<li><i class="fa fa-camera-retro"></i> Profesjonalne Zdjęcia i Wirtualne Wizyty</li>
							<li><i class="fa fa-user-secret"></i> Eksperckie Doradztwo</li>
							<li><i class="fa fa-users"></i> Podejście Skoncentrowane na Kliencie</li>
							<li><i class="fa fa-comments"></i> Transparentna Komunikacja</li>
							<li><i class="fa fa-life-ring"></i> Wsparcie 24/7</li>
							<li><i class="fa fa-line-chart"></i> Wycena i Analiza Rynku</li>
						</ul>                    
					</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End Counter Section Start -->

	<!--Portfolio Section -->
	<section id="portfolio" class="portfolio">
		<div class="container" data-aos="fade-up">
		<div class="section-header">
			<div>
			<h2 class="white-text">Oferta najmu lub sprzedaży | Sprawdź naszą gorącą ofertę</h2>
			<p>
				Zajrzyj do naszej sekcji "Oferta najmu lub sprzedaży" i przekonaj się, co sprawia, że nasi klienci wracają do 
				nas jak bumerang! Znajdziesz tu gorące propozycje, które rozpalą Twoją ciekawość i zaspokoją 
				nawet najbardziej wymagające gusta. Niezależnie od tego, czy szukasz najnowszych trendów, 
				unikalnych usług czy po prostu chcesz odkryć coś nowego, nasza oferta została skomponowana 
				z myślą o Tobie. Nie czekaj, sprawdź, co dla Ciebie przygotowaliśmy!
			</p>
			</div>
			<!-- <a href="#testimonials" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a> -->
		</div>
		<div 
			class="portfolio-isotope" 
			data-portfolio-filter="*" 
			data-portfolio-layout="masonry" 
			data-portfolio-sort="original-order" 
			data-aos="fade-up" 
			data-aos-delay="100"
			>

			<div>
				<!-- {{categoryOffer}}
				{{detailOffer}} -->
				
			</div>
			<div class="Project-wynajem">
				<ul class="portfolio-flters">
					<li data-filter="*" class="filter-active">Wszystkie</li>
					{% for cat, class in categoryOffer.items() %}
						<li data-filter="{{class}}">{{cat}}</li>
					{% endfor %}
				</ul>
			</div>
			
			<div class="row gy-4 portfolio-container">
				{% for data in detailOffer %}
				<div class="col-xl-4 col-md-6 portfolio-item {{data['class']}}">
					
					<div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="100">
						<a href="{{data['mainFoto']}}" data-gallery="portfolio-gallery-app" class="glightbox">
							<img src="{{data['mainFoto']}}" class="img-fluid" alt="">
						</a>
						<div class="portfolio-info">
							<h5 style="text-align: center !important; color:rgb(192, 192, 193);">{{data['oferta']}}</h5>
							<h4>
								<a href="{{data['link']}}" title="More Details" id="title_{{loop.index0}}" data-text="{{data['Tytul']}}">
									{{data['Tytul']}}
								</a>
							</h4>
							<div class="project-deatils-aside">
								<div class="project-btn">
									<a href="{{data['link']}}" class="fill-btn">
										Sprawdź Szczegóły Oferty
									</a>
								</div>
								
							</div>
						</div>
					</div>
				</div><!-- End Portfolio Item -->
				{% endfor %}
				<script>
                    document.querySelectorAll('.portfolio-info h4 a').forEach(function(element) {
                        element.addEventListener('mouseenter', function() {
                            typeWriterEffect(this.id);
                        });
                    });
                </script>

			</div><!-- End Portfolio Container -->
		</div>
		</div>
	</section><!-- End Portfolio Section -->

		<!-- Our Team Section -->
		<section id="team" class="team section bg-grey">
		<div class="container" data-aos="fade-up">
			<div class="section-header">
			<div>
				<h2 class="white-text">Zespół | Poznaj Nasz Zespół</h2>
				<p>
					Umów spotkanie z jednym z naszych doświadczonych doradców, aby 
					odkryć potencjał swojej nieruchomości lub poznać atrakcyjne 
					oferty nieruchomości na wynajem i sprzedaż. 
				</p>
				<p>
					Nasz zespół czeka, aby podzielić się z Tobą swoją wiedzą i doświadczeniem, 
					oferując profesjonalne doradztwo dopasowane do Twoich potrzeb.
				</p>
			</div>
			<a href="/my-zespol" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
			</div>

			<div class="row gy-4">
			{% for member in fourListTeam %}
			<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
				<div class="member">
				<img src="{{ member['EMPLOYEE_PHOTO'] }}" class="img-fluid" alt="">
				<div class="social">
					{% if member['PHONE'] != '' %}
					<a href="tel:{{ member['PHONE'] }}" target="_blank" rel="noreferrer"><i class="bi bi-phone"></i></a>
					{% endif %}
					{% if member['EMAIL'] != '' %}
					<a href="mailto:{{ member['EMAIL'] }}" target="_blank" rel="noreferrer"><i class="bi bi-envelope"></i></a>
					{% endif %}
					{% if member['FACEBOOK'] != '' %}
					<a href="{{ member['FACEBOOK'] }}" target="_blank" rel="noreferrer"><i class="bi bi-facebook"></i></a>
					{% endif %}
					{% if member['LINKEDIN'] != '' %}
					<a href="{{ member['LINKEDIN'] }}" target="_blank" rel="noreferrer"><i class="bi bi-linkedin"></i></a>
					{% endif %}
				</div>
				<h4>{{ member['EMPLOYEE_NAME'] }}</h4>
				<span>{{ member['EMPLOYEE_ROLE'] }}</span>
				</div>
			</div><!-- End Team Member -->
			{% endfor %}
			
			</div>
		</div>
		</section><!-- End Our Team Section -->


	<!-- Frequently Asked Questions Section -->
	<section id="faq" class="faq">
		<div class="container" data-aos="fade-up">
			<div class="section-header">
			<div>
				<h2 class="white-text">FAQ's | Najczęściej zadawane pytania</h2>
				<p>
					Znajdź odpowiedzi na najczęściej zadawane pytania dotyczące współpracy z DMD Inwestycje i naszych usług w poniższym FAQ.
				</p>
			</div>
			<a href="#call-to-action" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
			</div>
			<div class="row gy-4">
			<div class="col-lg-12">
				<div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
				<div class="accordion-item">
					<h3 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#faq-content-1">
						<span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
						Czym zajmuje się DMD Inwestycje?
					</button>
					</h3>
					<div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
						<div class="accordion-body">
							DMD Inwestycje specjalizuje się w inwestycjach nieruchomościowych, 
							oferując odkup ziemi, możliwość inwestycji wspólnej, pomoc prawną 
							przy formalnościach, projektowanie inwestycji, kompleksową budowę 
							oraz wsparcie w sprzedaży nieruchomości klientom docelowym.
						</div>
					</div>
				</div><!-- # Faq item-->

				<div class="accordion-item">
					<h3 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#faq-content-2">
						<span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
						Jak mogę rozpocząć współpracę z DMD Inwestycje?
					</button>
					</h3>
					<div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
					<div class="accordion-body">
						Aby rozpocząć współpracę, zachęcamy do umówienia się na spotkanie z naszym doradcą. 
						Dzięki temu będziemy mogli dokładnie poznać Twoje potrzeby i przedstawić ofertę 
						dopasowaną do Twoich oczekiwań.
					</div>
					</div>
				</div><!-- # Faq item-->

				<div class="accordion-item">
					<h3 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#faq-content-3">
						<span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
						Czy DMD Inwestycje oferuje pomoc w sprzedaży wybudowanych nieruchomości?
					</button>
					</h3>
					<div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
					<div class="accordion-body">
						Tak, oferujemy kompleksową pomoc w sprzedaży wybudowanych nieruchomości, 
						w tym marketing nieruchomości oraz wsparcie w znalezieniu odpowiednich 
						klientów docelowych, aby maksymalizować wartość Twojej inwestycji.
					</div>
					</div>
				</div><!-- # Faq item-->

				<div class="accordion-item">
					<h3 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#faq-content-4">
						<span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
						Czy mogę zainwestować w projekt, nie mając własnej działki?
					</button>
					</h3>
					<div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
					<div class="accordion-body">
						Oczywiście, DMD Inwestycje oferuje możliwość inwestycji wspólnej w wyselekcjonowane 
						projekty nieruchomościowe. To doskonała okazja do inwestowania w nieruchomości nawet 
						bez posiadania własnej ziemi, przy minimalnym ryzyku i potencjale na atrakcyjne zyski.
					</div>
					</div>
				</div><!-- # Faq item-->
				</div>
			</div>
			</div>
		</div>
	</section><!-- End Frequently Asked Questions Section -->

	<!-- Oferta Specjalna -->
	{% if spcOfferON %}
	<section id="call-to-action" class="call-to-action sections-bg d-none d-md-block">
		<div class="container text-center" data-aos="zoom-out">
			<div class="section-header-book">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="special-offer-homepage">
						<div id="SpecialOfferArea" >
							<img src="{{mainFoto}}" alt="" class="object-fit-cover border rounded" onClick="goToSpecOffer()" />

							<div class="row offer" id="specLoka">

								<div class="col-lg-12 col-sm-12 specLoka-details" onClick="goToSpecOffer()">
									<div>

									<span class="white-text font-size-very-small padding-left-5">Oferta Specjalna</span>
									</div>
									<div class="padding-left-10 white-text font-size-large">
									{{secOffers['Tytul']}}
									</div>
								</div>

								{% if secOffers['TelefonKontaktowy']!='' and secOffers['EmailKontaktowy']!='' %}
								<div class="col-lg-12 col-sm-12 specLoka-details">
									<div>

										<span class="white-text font-size-very-small padding-left-5">Szybki Kontakt</span>
									</div>
									<div class="row" class="" style="text-align: center !important;">
										<div class="col href-contact-sidebar-email">
											<a href="mailto:{{secOffers['EmailKontaktowy']}}"> 
												<i class="bi bi-envelope font-contact-sidebar"></i> 
											</a>
										</div>
										<div class="col href-contact-sidebar-whatsapp">
											<a href="https://wa.me/{{secOffers['TelefonKontaktowy']}}">
												<i class="bi bi-whatsapp font-contact-sidebar"></i> 
											</a>
										</div>
										<div class="col href-contact-sidebar-phone">
											<a href="tel:{{secOffers['TelefonKontaktowy']}}">
												<i class="bi bi-phone-flip font-contact-sidebar"></i> 
											</a>
										</div>
										<div class="col href-contact-sidebar">
											<a href="/kontakt">
												<i class="bi bi-person-lines-fill font-contact-sidebar"></i> 
											</a>
										</div>
									</div>
								</div>
								{% endif %}
								
								<div class="col-lg-12 col-sm-12 specLoka-details" onClick="goToSpecOffer()">
									<div>
									<!-- position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger  -->
									<span class="white-text font-size-very-small padding-left-5">Rodzaj Oferty</span>
									</div>
									<div class="padding-left-10 white-gray font-size-medium">
										<i class="bi bi-house-check white-gray"></i> 
										{% if secOffers['Rodzaj'] == 'sprzedaz' %}
											Oferta Sprzedaży
										{% elif secOffers['Rodzaj'] == 'zakup' %}
											Oferta Kupna
										{% elif secOffers['Rodzaj'] == 'wynajem' %}
											Oferta Wynajmu
										{% endif %}
									</div>
								</div>

								{% if secOffers['Lokalizacja']!='' %}
								<div class="col-lg-3 col-sm-12 specLoka-details">
									<div>
									<!-- position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger  -->
									<span class="white-text font-size-very-small padding-left-5">Lokalizacja</span>
									</div>
									<div class="padding-left-10 white-gray font-size-small">
										<strong class="green-text"><i class="bi bi-geo"></i> </strong> {{secOffers['Lokalizacja']}} 
										{% if coordinates[0]!='None' or coordinates[1]!='None' %}
										<a href="javascript:void(0);" onClick="openGoogleEarth('{{coordinates[0]}}','{{coordinates[1]}}');">
											<i class="fa fa-map-marker red-text"></i>
										</a>
										<a href="javascript:void(0);" onClick="openGoogleMaps('{{coordinates[0]}}','{{coordinates[1]}}');">
											<i class="fa fa-map-marker blue-text"></i>
										</a>
										{% endif %}
									</div>
								</div>
								{% endif %}

								{% if secOffers['Metraz']!=0 %}
								<div class="col-lg-3 col-sm-12 specLoka-details" onClick="goToSpecOffer()">
									<div>
									<!-- position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger  -->
									<span class="white-text font-size-very-small padding-left-5">Metraż</span>
									</div>
									<div class="padding-left-10 white-gray font-size-small">
										<i class="bi bi-house-check white-gray"></i> {{secOffers['Metraz']}} m&sup2;
									</div>
								</div>
								{% endif %}


								{% if secOffers['TypDomu']!="" %}
								<div class="col-lg-3 col-sm-12 specLoka-details" onClick="goToSpecOffer()">
									<div>
									<!-- position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger  -->
									<span class="white-text font-size-very-small padding-left-5">Rodzaj Nieruchomości</span>
									</div>
									<div class="padding-left-10 white-gray font-size-small">
										<i class="bi bi-house white-gray"></i> {{secOffers['TypDomu']}}
									</div>
								</div>
								{% endif %}

								{% if secOffers['InformacjeDodatkowe']!="" %}
								<div class="col-lg-12 col-sm-12 specLoka-details" onClick="goToSpecOffer()">
									<div>
									<!-- position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger  -->
									<span class="white-text font-size-very-small padding-left-5">Informacje Dodatkowe </span> <i class="bi bi-info-lg green-text"></i>
									</div>
									<div class="padding-left-10 white-gray">
										{{secOffers['InformacjeDodatkowe']}}
									</div>
								</div>
								{% endif %}


								<div class="col-lg-12 col-sm-12 specLoka-details" onClick="goToSpecOffer()">
									<div>
									<span class="white-text font-size-very-small padding-left-5">Cena</span> <i class="bi bi-info-lg green-text"></i>
									</div>
									<div class="padding-left-10 orange-text" id="specCena">
									<strong><span id="price">{{secOffers['Cena']}}</span> PLN</strong>
									</div>
								</div>


							</div>

						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</section>
	{% endif %}
	<!-- End Oferta Specjalna Section -->

		<!-- Recent Blog Posts Section -->
		<section id="recent-posts" class="recent-posts">
		<div class="container" data-aos="fade-up">
			<div class="section-header">
			<div>
				<h2 class="white-text">Blogs | Bądź na bieżąco</h2>
				<p>
					Komentuj wpisy na blogu DMD, aby nie przegapić 
					najnowszych newsów ze świata inwestycji, budownictwa 
					i rozwoju nieruchomości!
				</p>
			</div>
			<a href="/blogs" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
			</div>
			<div class="row gy-4">
			{% for post in blog_post_three %}
			<div class="col-lg-4">
				<article>
				<div class="post-img">
					<a href="/blog-one?post={{post['id']}}"><img src="{{ post['mainFoto'] }}" alt="" class="img-fluid"></a>
				</div>
				<p class="post-category">{{ post['category'] }}</p>
				<h2 class="title">
					<a href="/blog-one?post={{post['id']}}">{{ post['title'] }}</a>
				</h2>
				<div class="d-flex align-items-center">
					<div class="post-meta">
					<p class="post-date">
						<time datetime="2022-01-01">{{ post['data'] }}</time>
					</p>
					</div>
				</div>
				</article>
			</div><!-- End post list item -->
			{% endfor %}
			

			</div><!-- End recent posts list -->

		</div>
	</section><!-- End Recent Blog Posts Section -->
{% endblock %}
{% block bottom_scripts %}
<script>

  document.addEventListener("DOMContentLoaded", function() {
    var priceElement = document.getElementById("price");
    var price = parseFloat(priceElement.innerText).toLocaleString('pl-PL', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
    });
    priceElement.innerText = price;
    });

    function goToSpecOffer (){
      window.location.href = '/oferta-specjalna';
    }
</script>

{% endblock %}
