{% extends 'base.html' %}

{% block content %}

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Odkupujemy Grunty – Otwórzmy Razem Nowe Możliwości</h2>
          <p>Twoja Ziemia Może Być Kluczem do Nowych Inwestycji</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>Nawigacja:</strong></li>
          <li><a href="/">Strona Główna</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="white-text">Twoja Ziemia Może Być Kluczem do Nowych Inwestycji</h2>
            
            <div class="row">
              <div class="col-lg-12">
                <p>
                    W naszej ofercie znajdziesz nie tylko atrakcyjne warunki finansowe, ale 
                    także pełne wsparcie na każdym etapie transakcji. Rozumiemy, że sprzedaż 
                    ziemi to ważna decyzja, dlatego podchodzimy do każdego przypadku indywidualnie, 
                    z szacunkiem do Twoich potrzeb i oczekiwań. Naszym celem jest otwarcie przed 
                    Tobą i Twoją ziemią drzwi do nowych, ekscytujących możliwości inwestycyjnych.
                </p>
              </div>
            <p class="white-text font-size-large">
                <strong>Dlaczego warto współpracować z DMD Inwestycje?</strong>
            </p>
            <ul>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Atrakcyjne warunki finansowe</strong> – Zapewniamy konkurencyjne ceny za Twoją ziemię.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Personalizowane podejście</strong> – Każdy przypadek traktujemy indywidualnie, dopasowując warunki do Twoich potrzeb.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Wsparcie na każdym etapie</strong> – Jesteśmy z Tobą od pierwszego kontaktu aż po finalizację transakcji.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Transparentność</strong> – Wszystkie procesy są dla Ciebie w pełni przejrzyste i zrozumiałe.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Bezpieczeństwo</strong> –  Zapewniamy pełną legalność i bezpieczeństwo transakcji.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Szybkość działania</strong> – Doceniamy Twój czas, dlatego wszystkie formalności załatwiamy sprawnie i bez zbędnych opóźnień.</li>
            </ul>
            <br />
            </div>
            <!-- <h3 class="white-text">Wstęp</h3> -->
            <p>
                Sprzedaż ziemi to nie tylko transakcja finansowa, ale również szansa na nowe inwestycje i projekty. 
                Z nami masz pewność, że Twoja ziemia znajdzie najlepsze możliwe zastosowanie, a Ty skorzystasz 
                z atrakcyjnych warunków współpracy. Razem możemy otworzyć drzwi do nowych możliwości.
            </p>
            <!-- <p class="white-text font-size-large">
                <strong>DMD Inwestycje: Nasza wizja odpowiedzialnego inwestowania</strong>
            </p> -->
            <p>
                Czekamy na kontakt z Twojej strony! Skontaktuj się z nami, aby dowiedzieć się więcej o możliwościach, 
                jakie oferujemy. Razem stwórzmy przestrzeń dla nowych, ekscytujących inwestycji.
            </p>
            <!-- <h3 class="white-text">Nasze zobowiązanie</h3>
            <p>
                Dążymy do tego, aby być liderem w dziedzinie innowacyjnych i zrównoważonych inwestycji. 
                Nasza misja to nie tylko osiąganie zysków, ale także kreowanie lepszej przyszłości poprzez 
                odpowiedzialne działania biznesowe, które sprzyjają rozwojowi społeczności i środowiska.
                 W DMD jesteśmy przekonani, że prawdziwy sukces mierzy się nie tylko wynikami finansowymi, 
                 ale także pozytywnym wpływem na świat wokół nas.
            </p>

            <p>
                Dołącz do nas i odkryj, jak Twoja inwestycja może przyczynić się do budowy lepszego jutra. 
                W DMD, Twoje cele biznesowe stają się częścią czegoś większego - wspólnego dążenia do tworzenia 
                zrównoważonej przyszłości dla wszystkich. Zapraszamy do współpracy, aby razem kształtować 
                przyszłość inwestycji.
            </p> -->
        </div>
      </div>
      </div>
    </section>
{% endblock %}