{% extends 'base.html' %}

{% block content %}

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Razem na Szczycie – Inwestuj z Nami</h2>
          <p>Twoja Szansa na Udział w Rentownych Projektach</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li class="d-none d-sm-none d-xs-none d-md-none d-lg-block"><strong>Nawigacja:</strong></li>
          <li class="d-none d-sm-none d-xs-none d-md-none d-lg-block"><a href="/">Strona Główna</a></li>
          <li class="d-none d-sm-none d-xs-none d-md-none d-lg-block"><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="white-text">Twoja Szansa na Udział w Rentownych Projektach</h2>
            
            <div class="row">
              <div class="col-lg-12">
                <p>
                    Inwestowanie może być jak podróż po nieznanej drodze – pełna niespodzianek i niepewności. 
                    Dlatego proponujemy Ci naszą współpracę, która nie tylko zmniejszy ryzyko, ale i zwiększy 
                    szansę na atrakcyjny zysk. Przez lata zdobywaliśmy doświadczenie, które teraz chcemy wykorzystać, 
                    by wspólnie osiągać sukcesy. Nasze projekty są starannie wyselekcjonowane i analizowane, 
                    co pozwala nam minimalizować ryzyko i maksymalizować potencjalny zysk dla naszych partnerów.
                </p>
              </div>
            <p class="white-text font-size-large">
                <strong>Korzyści z inwestowania z nami!</strong>
            </p>
            <ul>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Współudział w rentownych projektach</strong> – Oferujemy udział tylko w tych projektach, które mają solidne podstawy do sukcesu.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Minimalizacja ryzyka</strong> – Dzięki naszemu doświadczeniu i analizom, ryzyko inwestycyjne jest znacząco obniżone.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Maksymalizacja zysku</strong> – Skupiamy się na projektach z dużym potencjałem wzrostu, co zwiększa szanse na atrakcyjny zwrot z inwestycji.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Transparentność i kontrola</strong> – Masz pełen wgląd w przebieg projektów i możesz na bieżąco monitorować postępy.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Wsparcie ekspertów</strong> –  Nasz zespół specjalistów jest do Twojej dyspozycji, oferując wsparcie na każdym etapie inwestycji.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Elastyczność</strong> – Oferujemy różne poziomy zaangażowania, dostosowane do Twoich preferencji i możliwości finansowych.</li>
            </ul>
            <br />
            </div>

            <p>
                Inwestowanie z nami to nie tylko szansa na zysk, ale również możliwość uczestnictwa 
                w ekscytujących projektach, które mogą zmienić oblicze branży. Dzięki współpracy 
                z nami masz pewność, że Twoje inwestycje są bezpieczne, a ryzyko jest zawsze 
                kalkulowane i minimalizowane.
            </p>

            <p>
                Jeśli jesteś gotów na inwestycje, które mogą przynieść realne zyski i zmienić Twój punkt 
                widzenia na rynek, to jesteś we właściwym miejscu. Skontaktuj się z nami, aby dowiedzieć 
                się więcej o aktualnych projektach i sposobach, w jakie możemy razem osiągnąć sukces
            </p>
            
        </div>
      </div>
      </div>
    </section>
    <!-- Services Section -->
    <section id="services" class="services">
        <div class="top-icon-box position-relative">
        <div class="container position-relative">
            <div class="section-header">
            <div>
                <!-- <h2 class="white-text">Oferta inwestycyjna | Co proponujemy?</h2> -->
                <p>
                    Zapraszamy do zapoznania się z kluczowymi elementami naszej oferty, 
                    która została stworzona, by wspierać Twoje inwestycje na każdym etapie:
                </p>
            </div>
            <a href="/inwestycje-pomoc" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
            </div>
            <div class="row gy-4">

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                <div class="icon"><img src="static/images/icons/mortgage.svg" alt=""></div>
                <div class="service-number">1</div>
                <h4 class="title"><a href="/inwestycje-odkup" class="green-text">Odkup ziemi</a></h4>
                <p>
                    "Proponujemy atrakcyjne warunki odkupu gruntów, otwierając drogę do nowych możliwości inwestycyjnych."
                </p>
                </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/rent.svg" alt=""></div>
                    <div class="service-number">2</div>
                    <h4 class="title"><a href="/inwestycje-wspolne" class="green-text">Inwestycję wspólną</a></h4>
                    <p>
                        "Dajemy szansę na współudział w rentownych projektach, minimalizując ryzyko i maksymalizując potencjalny zysk."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->


            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/house.svg" alt=""></div>
                    <div class="service-number">3</div>
                    <h4 class="title"><a href="/inwestycje-pomoc" class="green-text">Pomoc prawną przy formalnościach </a></h4>
                    <p>
                        "Zapewniamy wsparcie prawne, aby proces inwestycyjny przebiegał płynnie i bez niepotrzebnych przeszkód."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/repair.svg" alt=""></div>
                    <div class="service-number">4</div>
                    <h4 class="title"><a href="/inwestycje-projekt" class="green-text">Projekt inwestycji </a></h4>
                    <p>
                        "Oferujemy dostęp do innowacyjnych projektów inwestycyjnych, dopasowanych do indywidualnych potrzeb i oczekiwań."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/inspection.svg" alt=""></div>
                    <div class="service-number">5</div>
                    <h4 class="title"><a href="/inwestycje-budowa" class="green-text">Kompleksową budowę</a></h4>
                    <p>
                        "Realizujemy projekty budowlane od fundamentów po dach, gwarantując najwyższą jakość i terminowość."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->


            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/agent.svg" alt=""></div>
                    <div class="service-number">6</div>
                    <h4 class="title"><a href="/inwestycje-maksymalizacja" class="green-text">Maksymalizacja wartości</a></h4>
                    <p>
                        "Aktywnie wspieramy w znalezieniu nabywców, maksymalizując wartość Twojej inwestycji."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->

            </div>
        </div>
        </div>
    </section>
    <!-- End Services Section -->
    <!-- Frequently Asked Questions Section -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <div>
              <h2 class="white-text">FAQ's | Najczęściej zadawane pytania</h2>
              <p>
                  Znajdź odpowiedzi na najczęściej zadawane pytania dotyczące współpracy z DMD Inwestycje i naszych usług w poniższym FAQ.
              </p>
            </div>
            <a href="#" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
          </div>
          <div class="row gy-4">
            <div class="col-lg-12">
              <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq-content-1">
                      <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                      Czym zajmuje się DMD Inwestycje?
                    </button>
                  </h3>
                  <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                          DMD Inwestycje specjalizuje się w inwestycjach nieruchomościowych, 
                          oferując odkup ziemi, możliwość inwestycji wspólnej, pomoc prawną 
                          przy formalnościach, projektowanie inwestycji, kompleksową budowę 
                          oraz wsparcie w sprzedaży nieruchomości klientom docelowym.
                      </div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq-content-2">
                      <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                      Jak mogę rozpocząć współpracę z DMD Inwestycje?
                    </button>
                  </h3>
                  <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Aby rozpocząć współpracę, zachęcamy do umówienia się na spotkanie z naszym doradcą. 
                      Dzięki temu będziemy mogli dokładnie poznać Twoje potrzeby i przedstawić ofertę 
                      dopasowaną do Twoich oczekiwań.
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq-content-3">
                      <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                      Czy DMD Inwestycje oferuje pomoc w sprzedaży wybudowanych nieruchomości?
                    </button>
                  </h3>
                  <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Tak, oferujemy kompleksową pomoc w sprzedaży wybudowanych nieruchomości, 
                      w tym marketing nieruchomości oraz wsparcie w znalezieniu odpowiednich 
                      klientów docelowych, aby maksymalizować wartość Twojej inwestycji.
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq-content-4">
                      <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                      Czy mogę zainwestować w projekt, nie mając własnej działki?
                    </button>
                  </h3>
                  <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Oczywiście, DMD Inwestycje oferuje możliwość inwestycji wspólnej w wyselekcjonowane 
                      projekty nieruchomościowe. To doskonała okazja do inwestowania w nieruchomości nawet 
                      bez posiadania własnej ziemi, przy minimalnym ryzyku i potencjale na atrakcyjne zyski.
                    </div>
                  </div>
                </div><!-- # Faq item-->
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Frequently Asked Questions Section -->
{% endblock %}