{% extends 'base.html' %}

{% block content %}

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Maksymalizujemy Wartość Twojej Inwestycji – Znajdujemy Nabywców</h2>
          <p> Twoja Inwestycja, Nasza Misja: Razem osiągamy więcej</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>Nawigacja:</strong></li>
          <li><a href="/">Strona Główna</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="white-text">Twoja Inwestycja, Nasza Misja: Razem osiągamy więcej</h2>
            
            <div class="row">
              <div class="col-lg-12">
                <p>
                    W ramach naszej współpracy, nie tylko realizujemy projekt budowlany na Twojej działce, 
                    ale także aktywnie wspieramy Cię w znalezieniu potencjalnych nabywców dla gotowych lokali. 
                    Rozumiemy, że kluczem do sukcesu inwestycji jest nie tylko jej realizacja, ale przede 
                    wszystkim efektywna sprzedaż czy wynajem przestrzeni. Dzięki naszym sprawdzonym strategiom
                    marketingowym i szerokiej sieci kontaktów, jesteśmy w stanie skutecznie docierać do 
                    zainteresowanych nabywców, maksymalizując tym samym wartość Twojej inwestycji. 
                    Nasze działania są skoncentrowane na tym, aby przekształcić wspólny projekt w najbardziej 
                    opłacalne przedsięwzięcie dla obu stron.
                </p>
              </div>
            <p class="white-text font-size-large">
                <strong> Jak maksymalizujemy wartość Twojej inwestycji?</strong>
            </p>
            <ul>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Indywidualna strategia marketingowa</strong> – Tworzymy spersonalizowane kampanie, aby efektywnie promować projekt.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Szeroka sieć kontaktów</strong> – Wykorzystujemy nasze kontakty w branży, aby dotrzeć do potencjalnych nabywców.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Analiza rynku</strong> – Regularnie analizujemy rynek, aby dostosowywać strategie sprzedaży do aktualnych trendów.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Profesjonalna prezentacja projektu</strong> – Zadbamy o to, aby Twój projekt został zaprezentowany w atrakcyjny i profesjonalny sposób.</li>
                <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Wsparcie na każdym etapie sprzedaży</strong> – Od pierwszego zainteresowania aż po finalizację transakcji, jesteśmy z Tobą, aby zapewnić płynność procesu.</li>
                <!-- <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Elastyczność</strong> – Oferujemy różne poziomy zaangażowania, dostosowane do Twoich preferencji i możliwości finansowych.</li> -->
            </ul>
            <br />
            </div>

            <p>
                W naszym partnerstwie Twoja inwestycja jest tak samo ważna dla nas, jak dla Ciebie. 
                Dzięki naszemu wsparciu w znalezieniu nabywców, możesz być pewny, że zrealizowany 
                projekt osiągnie maksymalną wartość na rynku. Naszym celem jest nie tylko zbudowanie, 
                ale także zapewnienie, że inwestycja przyniesie oczekiwane rezultaty finansowe.
            </p>

            <p>
                Jeśli szukasz nie tylko solidnego wykonawcy projektu budowlanego, ale także aktywnego 
                partnera w procesie sprzedaży, to jesteś we właściwym miejscu. Skontaktuj się z nami, 
                aby dowiedzieć się więcej o tym, jak możemy razem maksymalizować wartość Twojej 
                inwestycji.
            </p>
            
        </div>
      </div>
      </div>
    </section>
    <!-- Services Section -->
    <section id="services" class="services">
        <div class="top-icon-box position-relative">
        <div class="container position-relative">
            <div class="section-header">
            <div>
                <!-- <h2 class="white-text">Oferta inwestycyjna | Co proponujemy?</h2> -->
                <p>
                    Zapraszamy do zapoznania się z kluczowymi elementami naszej oferty, 
                    która została stworzona, by wspierać Twoje inwestycje na każdym etapie:
                </p>
            </div>
            <a href="/oferta-inwestycyjna" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
            </div>
            <div class="row gy-4">

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                <div class="icon"><img src="static/images/icons/mortgage.svg" alt=""></div>
                <div class="service-number">1</div>
                <h4 class="title"><a href="/inwestycje-odkup" class="green-text">Odkup ziemi</a></h4>
                <p>
                    "Proponujemy atrakcyjne warunki odkupu gruntów, otwierając drogę do nowych możliwości inwestycyjnych."
                </p>
                </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/rent.svg" alt=""></div>
                    <div class="service-number">2</div>
                    <h4 class="title"><a href="/inwestycje-wspolne" class="green-text">Inwestycję wspólną</a></h4>
                    <p>
                        "Dajemy szansę na współudział w rentownych projektach, minimalizując ryzyko i maksymalizując potencjalny zysk."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->


            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/house.svg" alt=""></div>
                    <div class="service-number">3</div>
                    <h4 class="title"><a href="/inwestycje-pomoc" class="green-text">Pomoc prawną przy formalnościach </a></h4>
                    <p>
                        "Zapewniamy wsparcie prawne, aby proces inwestycyjny przebiegał płynnie i bez niepotrzebnych przeszkód."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/repair.svg" alt=""></div>
                    <div class="service-number">4</div>
                    <h4 class="title"><a href="/inwestycje-projekt" class="green-text">Projekt inwestycji </a></h4>
                    <p>
                        "Oferujemy dostęp do innowacyjnych projektów inwestycyjnych, dopasowanych do indywidualnych potrzeb i oczekiwań."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/inspection.svg" alt=""></div>
                    <div class="service-number">5</div>
                    <h4 class="title"><a href="/inwestycje-budowa" class="green-text">Kompleksową budowę</a></h4>
                    <p>
                        "Realizujemy projekty budowlane od fundamentów po dach, gwarantując najwyższą jakość i terminowość."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->


            <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><img src="static/images/icons/agent.svg" alt=""></div>
                    <div class="service-number">6</div>
                    <h4 class="title"><a href="/inwestycje-maksymalizacja" class="green-text">Maksymalizacja wartości</a></h4>
                    <p>
                        "Aktywnie wspieramy w znalezieniu nabywców, maksymalizując wartość Twojej inwestycji."
                    </p>
                </div>
            </div>
            <!--End Icon Box -->

            </div>
        </div>
        </div>
    </section>
    <!-- End Services Section -->
{% endblock %}