{% extends 'base.html' %}

{% block content %}

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Wyjątkowa</h2>
          <p>Oferta Specjalna</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>Nawigacja:</strong></li>
          <li><a href="/">Strona Główna</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->
  {{secOffers['Zdjecia']}}
  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="white-text">{{secOffers['Tytul']}}</h2>
            
            <div class="row">

              <div class="col-lg-6">
                <img src="{{secOffers['Zdjecia']}}" class="img-fluid mb-4" alt="">
              </div>
              <div class="col-lg-6">
                <img src="{{secOffers['Zdjecia']}}" class="img-fluid mb-4" alt="">
              </div>
            </div>
            <p>
                {{secOffers['Opis']}}
            </p>
            <p class="white-text font-size-large">
                <strong>Parametry:</strong>
            </p>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Rodzaj: </strong> {{secOffers['Rodzaj']}}</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Lokalizacja: </strong> {{secOffers['Lokalizacja']}}</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Cena: </strong> {{secOffers['Cena']}}</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Metraz: </strong> {{secOffers['Metraz']}}</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Liczba Pokoi: </strong> {{secOffers['LiczbaPokoi']}}</li>

            </ul>
            <br />
 
            <h3 class="white-text">Zapraszamy do skorzystania z oferty</h3>
            <p>
                Nie czekaj – dołącz do grona naszych zadowolonych klientów. Skontaktuj się z nami już dziś, aby dowiedzieć się więcej 
                o tej lub innej naszej ofercie.
            </p>
        </div>
      </div>
      </div>
    </section>
    
{% endblock %}