{% extends 'base.html' %}

{% block content %}

<!-- - - - - - - - -  Hero Section - - - - - - - -  -->
<section id="hero" class="page-hero-1">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
            <h2>{{secOffers['Tytul']}}</h2>
            <p>Oferta Specjalna</p>
        </div>
        </div>
        <div class="breadcrumb">
        <ul>
            <li><strong>Nawigacja:</strong></li>
            <li><a href="/">Strona Główna</a></li>
            <li><i class="bi bi-chevron-double-right"></i></li>
            <li>{{pageTitle}}</li>
        </ul>
        </div>
    </div>
</section>
<!-- End Hero Section -->
<main id="main" class="single-page">
    <section class="single-page">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-9">
                    <h2 class="white-text">{{secOffers['Tytul']}}</h2>
                    <img src="{{mainFoto}}" alt="" class="img-fluid gallery-img-main rounded-2" data-bs-toggle="modal" data-bs-target="#galleryModal">
                    <p>
                        {{secOffers['Opis']}}
                    </p>
                    <p>
                        {{secOffers}}
                    </p>
                    
                    <div class="row">
                        <div id="gallery-container">
                            {% for foto in secOffers['Zdjecia'] %}
                                <img src="{{foto}}" alt="" class="gallery-img" data-bs-toggle="modal" data-bs-target="#galleryModal">
                            {% endfor %}
                        </div>
                    </div>
                    
                    <br />

                    <h3 class="white-text">Zapraszamy do skorzystania z oferty</h3>
                    <p>
                        Nie czekaj – dołącz do grona naszych zadowolonych klientów. Skontaktuj się z nami już dziś, aby dowiedzieć się więcej 
                        o tej lub innej naszej ofercie.
                    </p>
                </div>
                <div class="col-lg-3 content ps-0" data-aos="fade-left" data-aos-delay="500" >
                    <p class="white-text font-size-large" style="font-weight: 900;">
                        <strong><span id="price">{{secOffers['Cena']}}</span> PLN</strong>
                    </p>
                    <div class="offer-frame-details">

                        <ul >
                            {% if secOffers['TelefonKontaktowy']!='' and secOffers['EmailKontaktowy']!='' %}
                            <li>
                                <p>
                                    <a href="mailto:{{secOffers['EmailKontaktowy']}}"> 
                                        <i class="bi bi-envelope-at-fill orange-text"></i> 
                                        {{secOffers['EmailKontaktowy']}}
                                    </a>
                                </p>
                                <p>
                                    <a href="https://wa.me/{{secOffers['TelefonKontaktowy']}}">
                                        <i class="bi bi-whatsapp green-text font-contact-sidebar"></i> 
                                        {{secOffers['TelefonKontaktowy']}}
                                    </a>
                                    <a href="tel:{{secOffers['TelefonKontaktowy']}}">
                                        <i class="bi bi-phone-flip green-text font-contact-sidebar"></i> 
                                        {{secOffers['TelefonKontaktowy']}}
                                    </a>
                                </p>
                            </li>
                            {% endif %}
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Rodzaj: </strong> {{secOffers['Rodzaj']}}</li>
                            <li>
                                <i class="bi bi-arrow-right-circle-fill orange-text"></i> 
                                <strong class="white-text">Lokalizacja: </strong> {{secOffers['Lokalizacja']}} 
                                <a href="javascript:void(0);" onClick="openGoogleEarth('{{coordinates[0]}}','{{coordinates[1]}}');">
                                    <i class="fa fa-map-marker red-text"></i>
                                </a>
                                <a href="javascript:void(0);" onClick="openGoogleMaps('{{coordinates[0]}}','{{coordinates[1]}}');">
                                    <i class="fa fa-map-marker blue-text"></i>
                                </a>
                            </li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Cena: </strong> {{secOffers['Cena']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Metraz: </strong> {{secOffers['Metraz']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Liczba Pokoi: </strong> {{secOffers['LiczbaPokoi']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Kaucja: </strong> {{secOffers['Kaucja']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Czynsz: </strong> {{secOffers['Czynsz']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Liczba Pięter: </strong> {{secOffers['LiczbaPieter']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Powierzchnia Dzialki: </strong> {{secOffers['PowierzchniaDzialki']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Technologia Budowy  </strong> {{secOffers['TechBudowy']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Forma Kuchni: </strong> {{secOffers['FormaKuchni']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Typ Domu: </strong> {{secOffers['TypDomu']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Stan Wykończenia: </strong> {{secOffers['StanWykonczenia']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Rok Budowy: </strong> {{secOffers['RokBudowy']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Numer KW: </strong> {{secOffers['NumerKW']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Rynek: </strong> {{secOffers['Rynek']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Przeznaczenie Lokalu: </strong> {{secOffers['PrzeznaczenieLokalu']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Poziom: </strong> {{secOffers['Poziom']}}</li>
                            <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Informacje Dodatkowe: </strong> {{secOffers['InformacjeDodatkowe']}}</li>
                        </ul>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block end_of_body %}
<!-- Modal z karuzelą -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark ">
            <div class="modal-body">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <!-- Wnętrze karuzeli z elementami -->
                <div class="carousel-inner">
                    {% for foto in secOffers['Zdjecia'] %}
                        {% if loop.first %}
                        <div class="carousel-item active">
                            <img src="{{foto}}" class="object-fit-cover rounded d-block w-100" alt="">
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <img src="{{foto}}" class="object-fit-cover rounded d-block w-100" alt="">
                        </div>
                        {% endif %}
                    {% endfor %}
                    <!-- <div class="carousel-item">
                        <img src="images\our-work\full\2.jpg" class="object-fit-cover rounded d-block w-100" alt="Opis zdjęcia 2">
                    </div> -->
                    <!-- Dodaj więcej elementów karuzeli według wzoru -->
                </div>
                <!-- Przyciski nawigacyjne -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Poprzedni</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Następny</span>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bottom_scripts %}
<script>
    document.querySelectorAll('.gallery-img').forEach((item, index) => {
    item.addEventListener('click', () => {
      const carouselInner = document.querySelector('.carousel-inner');
      Array.from(carouselInner.children).forEach((carouselItem, idx) => {
        carouselItem.classList.remove('active');
        if (idx === index) {
          carouselItem.classList.add('active');
        }
      });
    });
  });    

  document.addEventListener("DOMContentLoaded", function() {
    var priceElement = document.getElementById("price");
    var price = parseFloat(priceElement.innerText).toLocaleString('pl-PL', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
    });
    priceElement.innerText = price;
    });

</script>

{% endblock %}