{% extends 'base.html' %}

{% block content %}

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Project Name Here</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>You are here:</strong></li>
          <li><a href="index.html">Home</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>Project Name</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="title">
              <a href="blogs-details.html">Deira Dubai | 3:00PM Saturday, 24 June, 2023</a>
            </h2>
            <div class="d-flex align-items-center details-post-data">
              <div class="post-meta d-flex">
                <p class="post-author">Jobi Ret</p>
                <p class="post-sperator"> - </p>
                <p class="post-date">
                  <time datetime="2022-01-01">Oct 5, 2022</time>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <img src="static/images/hero-bg.jpg" class="img-fluid mb-4" alt="">
              </div>
              <div class="col-lg-6">
                <img src="static/images/blog/blog-1.jpg" class="img-fluid mb-4" alt="">
              </div>
              <div class="col-lg-6">
                <img src="static/images/blog/blog-2.jpg" class="img-fluid mb-4" alt="">
              </div>
            </div>
            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Odio et unde deleniti. Deserunt numquam exercitationem</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Neque porro quisquam est, qui dolorem ipsum quia amet </li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Rempora incidunt ut labore et dolore magnam aliquam </li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Neque porro quisquam est, qui dolorem ipsum quia amet</li>
            </ul>

            <p></p>

            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
      </div>
      </div>
    </section>
{% endblock %}