{% extends 'base.html' %}

{% block content %}
{{rentOffer}}

<!--Portfolio Section -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <div>
            <h2 class="white-text">Oferta najmu lub sprzedaży | Sprawdź naszą gorącą ofertę</h2>
            <p>
                Zajrzyj do naszej sekcji "Oferta najmu lub sprzedaży" i przekonaj się, co sprawia, że nasi klienci wracają do 
                nas jak bumerang! Znajdziesz tu gorące propozycje, które rozpalą Twoją ciekawość i zaspokoją 
                nawet najbardziej wymagające gusta. Niezależnie od tego, czy szukasz najnowszych trendów, 
                unikalnych usług czy po prostu chcesz odkryć coś nowego, nasza oferta została skomponowana 
                z myślą o Tobie. Nie czekaj, sprawdź, co dla Ciebie przygotowaliśmy!
            </p>
            </div>
            <!-- <a href="#testimonials" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a> -->
        </div>
        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
            <div>
            <ul class="portfolio-flters">
                <li data-filter="*" class="filter-active">Wszystkie</li>
                <li data-filter=".Project-canada">Domy</li>
                <li data-filter=".Project-dubai">Lokale usługowe</li>
                <li data-filter=".Project-australia">Biura</li>
                <li data-filter=".Project-germany">Hale</li>
                <li data-filter=".Project-germany">Magazyny</li>
            </ul><!-- End Portfolio Filters -->
            </div>
            <div class="row gy-4 portfolio-container">
            <div class="col-xl-4 col-md-6 portfolio-item Project-canada">
                <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="100">
                <a href="{{rentOffer[0]['Zdjecia'][0]}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{rentOffer[0]['Zdjecia'][0]}}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                    <h4><a href="/oferta-najmu-details?offerid=" title="More Details">{{rentOffer[0]['Tytul']}}</a></h4>
                    <div class="project-deatils-aside">
                    <div class="project-btn"><a href="/oferta-najmu-details?offerid=" class="fill-btn">View Project</a></div>
                </div>
                </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item Project-dubai">
                <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="500">
                <a href="static/images/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                    <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                    <div class="project-deatils-aside">
                        <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                    </div>
                </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item Project-australia">
                <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="900">
                <a href="static/images/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                    <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                    <div class="project-deatils-aside">
                    <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                    </div>
                </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item Project-germany">
                <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="100">
                <a href="static/images/portfolio/product-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-4.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                    <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                    <div class="project-deatils-aside">
                    <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                    </div>
                </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item Project-canada">
                <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="500">
                <a href="static/images/portfolio/product-5.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-5.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                    <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                    <div class="project-deatils-aside">
                    <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                    </div>
                </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item Project-germany">
                <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="900">
                <a href="static/images/portfolio/product-6.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/images/portfolio/product-6.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                    <h4><a href="Project-details.html" title="More Details">Project Details</a></h4>
                    <div class="project-deatils-aside">
                    <div class="project-btn"><a href="Project-details.html" class="fill-btn">View Project</a></div>
                    </div>
                </div>
                </div>
            </div><!-- End Portfolio Item -->
            </div><!-- End Portfolio Container -->
        </div>
    </div>
</section><!-- End Portfolio Section -->
{% endblock %}