{% extends 'base.html' %}

{% block content %}

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Przekształć potencjał w zysk z DMD Inwestycje</h2>
          <p>Oferta Inwestycyjna</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>Nawigacja:</strong></li>
          <li><a href="/">Strona Główna</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            
            <h2 class="white-text">Przekształć potencjał w zysk z DMD Inwestycje</h2>
            
            <div class="row">
              <!-- <div class="col-lg-12">
                <p>
                    Posiadasz teren, który widzisz jako idealne miejsce na nowy 
                    projekt deweloperski? Czy to działka pod budownictwo mieszkaniowe, 
                    obiekt komercyjny, czy przemysłowy – każda z nich może stać się 
                    źródłem Twojego dochodu. W DMD Inwestycje specjalizujemy się 
                    w przekształcaniu surowej ziemi w rentowne inwestycje. Zapewniamy 
                    szybki zakup nieruchomości za gotówkę oraz oferujemy współpracę 
                    w ramach wspólnych przedsięwzięć.
                </p>
              </div> -->
              <div class="col-lg-6">
                <div class="card text-bg-dark">
                  <div class="card-body">
                    <h5 class="card-title">Rozwijaj swoje tereny z DMD Inwestycje</h5>
                    <p class="card-text">
                      Posiadasz teren, który mógłby być idealnym miejscem na nowy projekt deweloperski? 
                      Niezależnie od tego, czy jest to działka pod budownictwo mieszkaniowe, obiekt 
                      komercyjny czy przemysłowy, każda z nich ma potencjał, aby stać się źródłem 
                      dochodu. W DMD Inwestycje specjalizujemy się w przekształcaniu surowej ziemi 
                      w rentowne inwestycje. Zaufaj naszemu doświadczeniu i zobacz, jak Twoja 
                      nieruchomość przynosi zyski.
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Nie czekaj zadzwoń już teraz!</small></p>
                  </div>
                  <img src="static/images/offers/oferta-inwestycyjna-1.jpg" class="card-img-bottom" alt="">
                </div>
                <!-- <img src="static/images/offers/oferta-inwestycyjna-1.jpg" class="img-fluid mb-4" alt=""> -->
              </div>
              <div class="col-lg-6">
                <div class="card text-bg-dark">
                  <div class="card-body">
                    <h5 class="card-title">Twoja nieruchomość, nasze doświadczenie – zysk gwarantowany</h5>
                    <p class="card-text">
                      DMD Inwestycje to Twój partner w przekształcaniu terenów w dochodowe projekty. 
                      Oferujemy szybki zakup nieruchomości za gotówkę oraz możliwość współpracy w ramach 
                      wspólnych przedsięwzięć. Rozpocznij z nami współpracę i wykorzystaj pełen potencjał 
                      swojej nieruchomości. Gwarantujemy profesjonalizm i szybką realizację projektów, 
                      które przekształcą Twoje tereny w rentowne inwestycje.
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Zadzwoń teraz i dowiedz się więcej!</small></p>
                  </div>
                  <img src="static/images/offers/oferta-inwestycyjna-2.jpg" class="card-img-bottom" alt="">
                </div>
                <!-- <img src="static/images/offers/oferta-inwestycyjna-2.jpg" class="img-fluid mb-4" alt=""> -->
              </div>
            </div>
            <!-- <h3 class="white-text">Wstęp</h3> -->
            <p>
                Zainwestuj w przyszłość razem z nami. Niezależnie od tego, 
                czy jesteś doświadczonym inwestorem, czy dopiero rozpoczynasz 
                swoją przygodę z nieruchomościami, DMD Inwestycje to partner, 
                który pomoże Ci maksymalizować wartość Twojej nieruchomości.
            </p>
            <p class="white-text font-size-large">
                <strong>Dlaczego warto współpracować z DMD Inwestycje?</strong>
            </p>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Natychmiastowy zakup za gotówkę</strong> – szybki i bezproblemowy proces zakupu, bez konieczności długiego oczekiwania na realizację.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Elastyczne formy współpracy</strong> – oferujemy zarówno możliwość bezpośredniej sprzedaży, jak i angaż w projekty inwestycyjne.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Doświadczenie i wiarygodność</strong> – wieloletnia obecność na rynku i zrealizowane projekty stanowią gwarancję naszej solidności.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Pełne wsparcie na każdym etapie</strong> – od analizy rynku, poprzez planowanie i projektowanie, aż po realizację inwestycji.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Dostosowanie do potrzeb inwestora</strong> – każdy projekt traktujemy indywidualnie, dostosowując strategie do oczekiwań i celów naszych partnerów.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="white-text">Transparentność i otwartość</strong> – jasne zasady współpracy, pełna przejrzystość finansowa.</li>

            </ul>
            <br />
            <h3 class="white-text">Zainwestuj z nami</h3>
            <p>
                Wybierając współpracę z DMD Inwestycje, stawiasz na pewność i bezpieczeństwo swojego kapitału. 
                Nasz zespół ekspertów nie tylko pomoże Ci znaleźć najbardziej opłacalne rozwiązania, ale również 
                zapewni kompleksową obsługę i doradztwo na każdym kroku współpracy.
            </p>

            <p>
                Inwestowanie w nieruchomości z nami to nie tylko finansowy zysk, ale także możliwość bycia 
                częścią projektów, które zmieniają oblicze miast i regionów, wprowadzając nową jakość życia 
                i nowoczesne rozwiązania.
            </p>

            <h3 class="white-text">Zapraszamy do współpracy</h3>

            <p>
                Nie czekaj – dołącz do grona naszych zadowolonych partnerów i razem z nami kreuj przestrzeń 
                do życia i pracy dla przyszłych pokoleń. Skontaktuj się z nami, aby dowiedzieć się więcej 
                o możliwościach współpracy i rozpocznij swoją inwestycyjną podróż z DMD Inwestycje już dziś.
            </p>
        </div>
      </div>
      </div>
    </section>
    <!-- Services Section -->
    <section id="services" class="services">
      <div class="top-icon-box position-relative">
      <div class="container position-relative">
          <div class="section-header">
          <div>
              <!-- <h2 class="white-text">Oferta inwestycyjna | Co proponujemy?</h2> -->
              <p>
                  Zapraszamy do zapoznania się z kluczowymi elementami naszej oferty, 
                  która została stworzona, by wspierać Twoje inwestycje na każdym etapie:
              </p>
          </div>
          <a href="/inwestycje-wspolne" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
          </div>
          <div class="row gy-4">

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
              <div class="icon"><img src="static/images/icons/mortgage.svg" alt=""></div>
              <div class="service-number">1</div>
              <h4 class="title"><a href="/inwestycje-odkup" class="green-text">Odkup ziemi</a></h4>
              <p>
                  "Proponujemy atrakcyjne warunki odkupu gruntów, otwierając drogę do nowych możliwości inwestycyjnych."
              </p>
              </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                  <div class="icon"><img src="static/images/icons/rent.svg" alt=""></div>
                  <div class="service-number">2</div>
                  <h4 class="title"><a href="/inwestycje-wspolne" class="green-text">Inwestycję wspólną</a></h4>
                  <p>
                      "Dajemy szansę na współudział w rentownych projektach, minimalizując ryzyko i maksymalizując potencjalny zysk."
                  </p>
              </div>
          </div>
          <!--End Icon Box -->


          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                  <div class="icon"><img src="static/images/icons/house.svg" alt=""></div>
                  <div class="service-number">3</div>
                  <h4 class="title"><a href="/inwestycje-pomoc" class="green-text">Pomoc prawną przy formalnościach </a></h4>
                  <p>
                      "Zapewniamy wsparcie prawne, aby proces inwestycyjny przebiegał płynnie i bez niepotrzebnych przeszkód."
                  </p>
              </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                  <div class="icon"><img src="static/images/icons/repair.svg" alt=""></div>
                  <div class="service-number">4</div>
                  <h4 class="title"><a href="/inwestycje-projekt" class="green-text">Projekt inwestycji </a></h4>
                  <p>
                      "Oferujemy dostęp do innowacyjnych projektów inwestycyjnych, dopasowanych do indywidualnych potrzeb i oczekiwań."
                  </p>
              </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                  <div class="icon"><img src="static/images/icons/inspection.svg" alt=""></div>
                  <div class="service-number">5</div>
                  <h4 class="title"><a href="/inwestycje-budowa" class="green-text">Kompleksową budowę</a></h4>
                  <p>
                      "Realizujemy projekty budowlane od fundamentów po dach, gwarantując najwyższą jakość i terminowość."
                  </p>
              </div>
          </div>
          <!--End Icon Box -->


          <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                  <div class="icon"><img src="static/images/icons/agent.svg" alt=""></div>
                  <div class="service-number">6</div>
                  <h4 class="title"><a href="/inwestycje-maksymalizacja" class="green-text">Maksymalizacja wartości</a></h4>
                  <p>
                      "Aktywnie wspieramy w znalezieniu nabywców, maksymalizując wartość Twojej inwestycji."
                  </p>
              </div>
          </div>
          <!--End Icon Box -->

          </div>
      </div>
      </div>
  </section>
  <!-- End Services Section -->
  <!-- Frequently Asked Questions Section -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <div>
          <h2 class="white-text">FAQ's | Najczęściej zadawane pytania</h2>
          <p>
              Znajdź odpowiedzi na najczęściej zadawane pytania dotyczące współpracy z DMD Inwestycje i naszych usług w poniższym FAQ.
          </p>
        </div>
        <a href="#" class="btn-get-started" data-aos="fade-up" data-aos-delay="400"><i class="bi bi-chevron-double-right"></i></a>
      </div>
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                  Czym zajmuje się DMD Inwestycje?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                      DMD Inwestycje specjalizuje się w inwestycjach nieruchomościowych, 
                      oferując odkup ziemi, możliwość inwestycji wspólnej, pomoc prawną 
                      przy formalnościach, projektowanie inwestycji, kompleksową budowę 
                      oraz wsparcie w sprzedaży nieruchomości klientom docelowym.
                  </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                  Jak mogę rozpocząć współpracę z DMD Inwestycje?
                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Aby rozpocząć współpracę, zachęcamy do umówienia się na spotkanie z naszym doradcą. 
                  Dzięki temu będziemy mogli dokładnie poznać Twoje potrzeby i przedstawić ofertę 
                  dopasowaną do Twoich oczekiwań.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                  Czy DMD Inwestycje oferuje pomoc w sprzedaży wybudowanych nieruchomości?
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Tak, oferujemy kompleksową pomoc w sprzedaży wybudowanych nieruchomości, 
                  w tym marketing nieruchomości oraz wsparcie w znalezieniu odpowiednich 
                  klientów docelowych, aby maksymalizować wartość Twojej inwestycji.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-4">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill orange-text"></i></span>
                  Czy mogę zainwestować w projekt, nie mając własnej działki?
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Oczywiście, DMD Inwestycje oferuje możliwość inwestycji wspólnej w wyselekcjonowane 
                  projekty nieruchomościowe. To doskonała okazja do inwestowania w nieruchomości nawet 
                  bez posiadania własnej ziemi, przy minimalnym ryzyku i potencjale na atrakcyjne zyski.
                </div>
              </div>
            </div><!-- # Faq item-->
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Frequently Asked Questions Section -->
{% endblock %}