{% extends 'base.html' %}

{% block content %}

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Przekształć potencjał w zysk z DMD Inwestycje</h2>
          <p>Oferta Inwestycyjna</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>Nawigacja:</strong></li>
          <li><a href="/">Strona Główna</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="white-text">Przekształć potencjał w zysk z DMD Inwestycje</h2>
            
            <div class="row">
              <div class="col-lg-12">
                <p>
                    Posiadasz teren, który widzisz jako idealne miejsce na nowy 
                    projekt deweloperski? Czy to działka pod budownictwo mieszkaniowe, 
                    obiekt komercyjny, czy przemysłowy – każda z nich może stać się 
                    źródłem Twojego dochodu. W DMD Inwestycje specjalizujemy się 
                    w przekształcaniu surowej ziemi w rentowne inwestycje. Zapewniamy 
                    szybki zakup nieruchomości za gotówkę oraz oferujemy współpracę 
                    w ramach wspólnych przedsięwzięć.
                </p>
              </div>
              <div class="col-lg-6">
                <img src="static/images/offers/oferta-inwestycyjna-1.jpg" class="img-fluid mb-4" alt="">
              </div>
              <div class="col-lg-6">
                <img src="static/images/offers/oferta-inwestycyjna-2.jpg" class="img-fluid mb-4" alt="">
              </div>
            </div>
            <h3 class="white-text">Wstęp</h3>
            <p>
                Zainwestuj w przyszłość razem z nami. Niezależnie od tego, 
                czy jesteś doświadczonym inwestorem, czy dopiero rozpoczynasz 
                swoją przygodę z nieruchomościami, DMD Inwestycje to partner, 
                który pomoże Ci maksymalizować wartość Twojej nieruchomości.
            </p>
            <p>
                <strong>Dlaczego warto współpracować z DMD Inwestycje?</strong>
            </p>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="green-text">Natychmiastowy zakup za gotówkę</strong> – szybki i bezproblemowy proces zakupu, bez konieczności długiego oczekiwania na realizację.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="green-text">Elastyczne formy współpracy</strong> – oferujemy zarówno możliwość bezpośredniej sprzedaży, jak i angaż w projekty inwestycyjne.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="green-text">Doświadczenie i wiarygodność</strong> – wieloletnia obecność na rynku i zrealizowane projekty stanowią gwarancję naszej solidności.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="green-text">Pełne wsparcie na każdym etapie</strong> – od analizy rynku, poprzez planowanie i projektowanie, aż po realizację inwestycji.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="green-text">Dostosowanie do potrzeb inwestora</strong> – każdy projekt traktujemy indywidualnie, dostosowując strategie do oczekiwań i celów naszych partnerów.</li>
              <li><i class="bi bi-arrow-right-circle-fill orange-text"></i> <strong class="green-text">Transparentność i otwartość</strong> – jasne zasady współpracy, pełna przejrzystość finansowa.</li>

            </ul>

            <h3 class="white-text">Zainwestuj z nami</h3>
            <p>
                Wybierając współpracę z DMD Inwestycje, stawiasz na pewność i bezpieczeństwo swojego kapitału. 
                Nasz zespół ekspertów nie tylko pomoże Ci znaleźć najbardziej opłacalne rozwiązania, ale również 
                zapewni kompleksową obsługę i doradztwo na każdym kroku współpracy.
            </p>

            <p>
                Inwestowanie w nieruchomości z nami to nie tylko finansowy zysk, ale także możliwość bycia 
                częścią projektów, które zmieniają oblicze miast i regionów, wprowadzając nową jakość życia 
                i nowoczesne rozwiązania.
            </p>

            <h3 class="white-text">Zapraszamy do współpracy</h3>

            <p>
                Nie czekaj – dołącz do grona naszych zadowolonych partnerów i razem z nami kreuj przestrzeń 
                do życia i pracy dla przyszłych pokoleń. Skontaktuj się z nami, aby dowiedzieć się więcej 
                o możliwościach współpracy i rozpocznij swoją inwestycyjną podróż z DMD Inwestycje już dziś.
            </p>
        </div>
      </div>
      </div>
    </section>
{% endblock %}