{% extends 'base.html' %}

{% block content %}
<!-- - - - - - - - -  Hero Section - - - - - - - -  -->
<section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Polityka Prywatności</h2>
          <p>Dbamy o Twoją prywatność</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>Nawigacja:</strong></li>
          <li><a href="/">Strona Główna</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
</section>
<!-- End Hero Section -->
<main id="main" class="single-page">
    <section class="single-page">
        <div class="container" data-aos="fade-up">
            <h3 class="text-white">Polityka Prywatności</h3>
            <p class="text-secondary ">
                Dbamy o Twoją prywatność i pragniemy, abyś był informowany o tym, 
                w jaki sposób gromadzimy, używamy i chronimy Twoje dane osobowe. 
                Przeczytaj poniższe informacje dotyczące naszej Polityki Prywatności:
            </p>
            <hr />
            <h4 class="text-white">1. Gromadzenie i Przetwarzanie Danych Osobowych</h4>
            <p class="page-highlight">
                Dokładamy wszelkich starań, aby chronić Twoje dane osobowe. Gromadzimy 
                jedynie niezbędne informacje, takie jak imię i adres e-mail, w celu 
                dostarczania Ci istotnych aktualizacji i informacji dotyczących naszej 
                społeczności.
            </p>
            <h4 class="text-white">2. Cel Przetwarzania Danych</h4>
            <p class="page-highlight">
                Twoje dane osobowe są przetwarzane w celu dostarczania informacji, ofert, oraz 
                personalizacji doświadczenia związanego z naszą społecznością.
            </p>
            <h4 class="text-white">3. Bezpieczeństwo Danych</h4>
            <p class="page-highlight">
                Zapewniamy, że Twoje dane są u nas bezpieczne. Stosujemy odpowiednie środki 
                techniczne i organizacyjne, aby chronić je przed nieautoryzowanym dostępem 
                czy utratą.
            </p>
            <h4 class="text-white">4. Udostępnianie Danych</h4>
            <p class="page-highlight">
                Nie udostępniamy Twoich danych osobowych stronom trzecim bez Twojej wyraźnej 
                zgody. Dbamy o prywatność naszych użytkowników.
            </p>
            <h4 class="text-white">5. Prawa Użytkowników</h4>
            <p class="page-highlight">
                Masz prawo do dostępu, poprawiania, usuwania lub ograniczania przetwarzania 
                swoich danych osobowych. Skontaktuj się z nami, jeśli chcesz skorzystać 
                z tych praw.
            </p>
            <h4 class="text-white">6. Przekazywanie Danych do Innych Krajów</h4>
            <p class="page-highlight">
                W niektórych przypadkach, Twoje dane osobowe mogą być przekazywane do innych 
                krajów zgodnie z obowiązującymi przepisami prawa.
            </p>
            <h4 class="text-white">7. Cookies i Technologie Śledzące</h4>
            <p class="page-highlight">
                Używamy plików cookie i innych technologii śledzących w celu analizy ruchu na stronie, 
                personalizacji treści oraz dostarczania reklam. Możesz zarządzać ustawieniami plików 
                cookie w swojej przeglądarce.
            </p>
            <h4 class="text-white">8. Bezpieczeństwo Transmisji Danych</h4>
            <p class="page-highlight">
                Podjęliśmy środki bezpieczeństwa w celu ochrony transmisji danych, jednakże nie możemy 
                zagwarantować bezpieczeństwa absolutnego podczas przesyłania danych przez internet.
            </p>
            <h4 class="text-white">9. Kontakt z Nami</h4>
            <p class="page-highlight">
                Jeśli masz pytania dotyczące naszej Polityki Prywatności, skontaktuj się z nami pod 
                adresem <a href="mailto:biuro@dmdinwestycje.pl">biuro@dmdinwestycje.pl</a>
            </p>
            <h4 class="text-white">10. Zgoda na Przetwarzanie Danych</h4>
            <p class="page-highlight">
                Korzystając z naszej społeczności, wyrażasz zgodę na przetwarzanie swoich danych 
                osobowych zgodnie z niniejszą Polityką Prywatności.
            </p>
            <h4 class="text-white">11. Poinformowanie o Zmianach</h4>
            <p class="page-highlight">
                Informacje o zmianach w Polityce Prywatności będą udostępniane na naszej stronie internetowej.
            </p>
            <h4 class="text-white">12. Zastosowanie Dla Dzieci</h4>
            <p class="page-highlight">
                Nasza społeczność nie jest przeznaczona dla dzieci poniżej 13 roku życia. 
                Nie gromadzimy świadomie danych od osób poniżej tego wieku.
            </p>
            <h4 class="text-white">13. Marketing Bezpośredni</h4>
            <p class="page-highlight">
                Możemy przesyłać Ci informacje marketingowe jedynie po uzyskaniu Twojej 
                wyraźnej zgody. Możesz zrezygnować z subskrypcji w dowolnym momencie.
            </p>
            <h4 class="text-white">14. Zmiana lub Usunięcie Danych</h4>
            <p class="page-highlight">
                Masz prawo żądania zmiany lub usunięcia swoich danych osobowych. 
                Skontaktuj się z nami w celu realizacji tych żądań.
            </p>
            <h4 class="text-white">15. Ważne Informacje Prawne</h4>
            <p class="page-highlight">
                Niniejsza Polityka Prywatności jest częścią naszych <a href="/rulez">Zasad korzystania z witryny!</a> Zapoznaj się również z nimi.
            </p>
        </div>
    </section>
</main>
{% endblock %}