<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PrimeProperty - Real Estate Multipurpose Website Template</title>
  <meta name="description" content="PrimeProperty - Real Estate Multipurpose Website Template">
  <meta name="keywords" content="PrimeProperty - Real Estate Multipurpose Website Template, landing page template, application design, SEO optimization, digital marketing, professional team members, responsive design, user-friendly, customizable, animal template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="assets/images/favicon.png" rel="icon">
  <link href="assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="assets/stylesheets/styles.css" rel="stylesheet">
  <link href="assets/stylesheets/pages.css" rel="stylesheet">


</head>

<body>

  <header id="header" class="header d-flex align-items-center">
    <div class="container container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1 class="logo"><img src="assets/images/logo-dark.svg" alt="">PrimeProperty</h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="services.html">Services</a></li>
          <li><a href="about.html">About</a></li>
          <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="projects.html">View All Projects</a></li>
              <li><a href="project-details.html">Project Details</a></li>
            </ul>
          </li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="blogs.html">Blogs</a></li>
          <li class="dropdown"><a href="#"><span>Pages</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="blogs.html">Blogs Page</a></li>
              <li><a href="blog-details.html">Blog Details Page</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="faq.html">FAQs</a></li>
              <li><a href="page.html">Terms & Conditions</a></li>
              <li><a href="page.html">Privacy Policy</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Project Name Here</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li><strong>You are here:</strong></li>
          <li><a href="index.html">Home</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>Project Name</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" class="single-page">
    <section class="single-page">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="title">
              <a href="blogs-details.html">Deira Dubai | 3:00PM Saturday, 24 June, 2023</a>
            </h2>
            <div class="d-flex align-items-center details-post-data">
              <div class="post-meta d-flex">
                <p class="post-author">Jobi Ret</p>
                <p class="post-sperator"> - </p>
                <p class="post-date">
                  <time datetime="2022-01-01">Oct 5, 2022</time>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <img src="assets/images/hero-bg.jpg" class="img-fluid mb-4" alt="">
              </div>
              <div class="col-lg-6">
                <img src="assets/images/blog/blog-1.jpg" class="img-fluid mb-4" alt="">
              </div>
              <div class="col-lg-6">
                <img src="assets/images/blog/blog-2.jpg" class="img-fluid mb-4" alt="">
              </div>
            </div>
            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Odio et unde deleniti. Deserunt numquam exercitationem</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Neque porro quisquam est, qui dolorem ipsum quia amet </li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Rempora incidunt ut labore et dolore magnam aliquam </li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Neque porro quisquam est, qui dolorem ipsum quia amet</li>
            </ul>

            <p></p>

            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <p>
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
      </div>
      </div>
    </section>

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action sections-bg">
      <div class="container text-center" data-aos="zoom-out">
        <div class="section-header-book">
          <h2>Upcoming Event!</h2>
          <p>Deira Dubai</p>
          <h3>3:00PM Saturday, 24 June, 2024</h3>
          <p>Discover Your Dream Home and Investment Opportunities in One Place. Join us for an exciting event showcasing a wide range of properties, from residential homes to commercial spaces. Explore exclusive deals, connect with top developers and agents, and gain valuable insights into the real estate market. Don't miss this chance to find your perfect property and make informed decisions for your future.</p>
        </div>
        <a class="cta-btn" href="#contact">Book Now</a>
      </div>
    </section><!-- End Call To Action Section -->


    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2>Reviews | People Love Our Project's</h2>
            <p>Read the glowing reviews and testimonials from our satisfied clients, who have experienced the exceptional service and successful outcomes we provide in the real estate industry. </p>
          </div>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="assets/images/testimonials/testimonial-1.jpg" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Jhone Doe</h3>
                      <h4>CFO</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="assets/images/testimonials/testimonial-2.jpg" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Afa Rose</h3>
                      <h4>Web Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="assets/images/testimonials/testimonial-3.jpg" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Keena Lara</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor labore quem eram duis noster aute amet.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="assets/images/testimonials/testimonial-4.jpg" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Fizzi Brandon</h3>
                      <h4>Freelancer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                    minim dolor enim duis veniam ipsum anim magna sunt.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- Footer -->
  <footer id="footer" class="footer-section">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" class="logo d-flex align-items-center">
                              <h1>PrimeProperty</h1>
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>At Prime Property, we are dedicated to providing exceptional real estate services. With years of industry expertise and a passion for delivering personalized solutions</p>
                        </div>
                        <div class="contact-info">
                          <h6>Address:</h6>
                          <p>11 West Town</p>
                          <p>PBo 12345, United States</p>
                          <!-- Change  'Wall%20Street,%20NYC' with your own business name -->
                          <p><a href="https://www.google.com/maps/dir//Wall%20Street,%20NYC" target="_blank">Get Directions</a></p>
                        </div>
                        <div class="contact-info">
                          <h6>Phone:</h6>
                          <p>+1 1234 56 789</p>
                          <p>+1 1234 56 780</p>
                        </div>
                        <div class="contact-info">
                          <h6>Email:</h6>
                          <p>info@example.com</p>
                          <p>email@example.com</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="projects.html">Portfolio</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="team.html">Our Agents</a></li>
                            <li><a href="testimonials.html">Our Reviews</a></li>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="blogs.html">Our News</a></li>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="team.html">Our Team</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="page.html">Terms & Condriotions</a></li>
                            <li><a href="page.html">Privacy & Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fa fa-telegram"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>PrimeProperty © 2023 - Designed by Zr Themes.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                    <div class="footer-menu text-right">
                        <ul>
                            <li><a href="page.html">Terms & Conditions</a></li>
                            <li><a href="page.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/javascripts/plugins.js"></script>
  <script src="assets/javascripts/validator.min.js"></script>
  <script src="assets/javascripts/contactform.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/javascripts/main.js"></script>

</body>

</html>