{% extends 'base.html' %}

{% block content %}
<!-- - - - - - - - -  Hero Section - - - - - - - -  -->
<section id="hero" class="page-hero-1">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h2>Aby Zapewnić użytkownikom satysfakcjonujące doświadczenia.</h2>
          <p>Zapoznaj się z naszymi zasadami!</p>
        </div>
      </div>
      <div class="breadcrumb">
        <ul>
          <li class="d-none d-sm-none d-xs-none d-md-none d-lg-block"><strong>Nawigacja:</strong></li>
          <li class="d-none d-sm-none d-xs-none d-md-none d-lg-block"><a href="/">Strona Główna</a></li>
          <li class="d-none d-sm-none d-xs-none d-md-none d-lg-block"><i class="bi bi-chevron-double-right"></i></li>
          <li>{{pageTitle}}</li>
        </ul>
      </div>
    </div>
</section>
<!-- End Hero Section -->
<main id="main" class="single-page">
    <section class="single-page">
        <div class="container" data-aos="fade-up">
            <h3 class="text-white">Zasady Korzystania z Naszej Strony Internetowej!</h3>
            <p class="text-secondary ">
                Aby zapewnić każdemu użytkownikowi satysfakcjonujące doświadczenie oraz utrzymać 
                bezpieczeństwo i zgodność z naszymi standardami, opracowaliśmy poniższe zasady 
                korzystania z naszej strony internetowej. Prosimy o dokładne zapoznanie się 
                z nimi przed rozpoczęciem przeglądania czy korzystania z naszych usług.
            </p>
            <hr />
            <h4 class="text-white">1. Rejestracja i Konto Użytkownika</h4>
            <p class="page-highlight">
                Prosimy o uczciwe i dokładne podawanie informacji podczas procesu rejestracji. 
                Każdy użytkownik jest odpowiedzialny za utrzymanie bezpieczeństwa swojego konta.
            </p>
            <h4 class="text-white">2. Prawa Autorskie i Własność Intelektualna</h4>
            <p class="page-highlight">
                Szanujmy prawa autorskie oraz prawa własności intelektualnej. Zakazane jest 
                kopiowanie, rozpowszechnianie lub modyfikowanie zawartości strony bez naszej zgody.
            </p>
            <h4 class="text-white">3. Zasady Prywatności</h4>
            <p class="page-highlight">
                Dbamy o prywatność naszych użytkowników. Prosimy o zapoznanie się z naszą polityką 
                prywatności, aby zrozumieć, jak gromadzimy, używamy i chronimy dane osobowe.
            </p>
            <h4 class="text-white">4. Zachowanie na Stronie</h4>
            <p class="page-highlight">
                Wszyscy użytkownicy zobowiązani są do szanowania innych. Nie tolerujemy treści 
                obraźliwych, dyskryminacyjnych czy nielegalnych. Zastrzegamy sobie prawo do 
                usuwania takich treści.
            </p>
            <h4 class="text-white">5. Bezpieczeństwo Konta</h4>
            <p class="page-highlight">
                Zachęcamy do stosowania silnych haseł i regularnej zmiany hasła. Ochrona konta 
                przed nieautoryzowanym dostępem jest kluczowa.
            </p>
            <h4 class="text-white">6. Linki Zewnętrzne</h4>
            <p class="page-highlight">
                Nie ponosimy odpowiedzialności za treści na stronach zewnętrznych, do których 
                prowadzą linki na naszej stronie. Klikając na link, użytkownik akceptuje warunki 
                korzystania z danej strony.
            </p>
            <h4 class="text-white">7. Aktualizacje i Modyfikacje</h4>
            <p class="page-highlight">
                Zastrzegamy sobie prawo do wprowadzania zmian w treści strony oraz zasad korzystania. 
                Użytkownicy zostaną poinformowani o istotnych aktualizacjach.
            </p>
            <h4 class="text-white">8. Komunikacja z Użytkownikami</h4>
            <p class="page-highlight">
                Regularnie będziemy informować użytkowników o istotnych sprawach za pośrednictwem 
                wiadomości e-mail lub ogłoszeń na stronie.
            </p>
            <h4 class="text-white">9. Odpowiedzialność Prawna</h4>
            <p class="page-highlight">
                Użytkownicy są zobowiązani do przestrzegania lokalnych i międzynarodowych przepisów 
                prawnych podczas korzystania z naszej strony.
            </p>
            <h4 class="text-white">10. Wsparcie Techniczne</h4>
            <p class="page-highlight">
                Nasz zespół wsparcia technicznego jest gotów pomóc w rozwiązaniu problemów i udzielić 
                odpowiedzi na pytania. Prosimy o kontakt, jeśli masz jakiekolwiek wątpliwości.
            </p>
        </div>
    </section>
</main>
{% endblock %}